{% set a2 = 'active' %}
{% set title = 'Доставка страз' %}
{% set keywords = '' %}
{% set description = '' %}
{% extends 'layout.html.twig' %}
{% block main_content %}
    <p>Доставка страз по Москве</p>
    <p>Варианты доставки страз</p>
    <p>Доставка курьером.</p>
    <p>Доставка страз в пределах Москвы общей стоимостью более 5500 rub. предоставляется бесплатно!</p>
    <p>Доставка по Москве, заказов на сумму менее 5500 rub. составляет 350 rub.</p>
    <p>Наша курьерская служба осуществляет доставку страз по Москве (только в пределах МКАД).</p>
    <p>Самовывоз.</p>
    <p>Самовывоз (передача страз у ст. метро "Тульская" с предварительным согласованием времени встречи по
        телефону).</p>
    <p>*Доставка по МО (Московской области) производится службами почты.</p>
    <p>Доставка страз при поддержке Почты РФ.</p>
    <p>Доставка производится пересылкой бандероли 1-ого класса во. На срок доставки влияет фактор удаленности пункта
        назначения и специфика работы местных почтовых отделений, данный способ доставки составляет 3-7 рабочих дней.
        Условия и тарифы доставки можно узнать на оф. сайте Почты Российской Федерации - www.russianpost.ru</p>
    <p></p>
    <p>Сроки доставки страз</p>
    <p>Для страз, в наличии на складах в Москве заказ укомплектовывается и доставляется в будние дни. Доставка
        производится в сроки 2-7 дней (рабочих), без учета праздничных и общепринятых выходных с момента подтверждения
        заказа по e-mail или телефону. День заказ не учитывается.</p>
    <p>Для страз, поступление которых ожидается на склады в ближайшее время, доставка производится в сроки 7-14 дней
        (рабочих), без учета праздничных и общепринятых выходных</p>
    <p>Для страз, доступных для заказа в Китае и Австрии, доставка производится в сроки 14-40 дней (рабочих) в
        зависимости от наличия на складе производителя.</p>
    <p></p>
    <p>График работы службы доставки страз</p>
    <p>Курьерская служба производит доставки заказов по рабочим дням с 10:00 до 20:00. Временные интервалы доставки
        индивидуально подбираются в зависимости от общего графика доставок и пожеланий клиента. Доставка осуществляется
        в интервал времени с 10:00 до 20:00.</p>
    <p></p>
    <p>
        Доставка страз в регионы</p>
    <p>Доставка, осуществляется во все регионы России, страны таможенного Союза (Белоруссии, Казахстана). Доставка страз
        может быть осуществлена любым из трех доступных вариантов.</p>
    <p>Варианты доставки страз</p>
    <p>Доставка страз при поддержке Почты РФ</p>
    <p>Доставка производится пересылкой бандероли 1-ого класса во все регионы России, Белоруссии, Казахстана, где
        присутствуют отделения Почты (всего данных отделений более 43000). На срок доставки влияет фактор удаленности
        пункта назначения от Москвы и специфика работы местных почтовых отделений, данный способ доставки составляет
        7-14 рабочих дней. Условия и тарифы доставки можно узнать на оф. сайте Почты Российской Федерации -
        www.russianpost.ru</p>
    <p>Доставка страз при поддержке транспортной компании</p>
    <p>Мы часто сотрудничаем с компанией EMS Почта. Данная компания создана при отделений Почты Российской Федерации.
        Условия и тарифы доступны для ознакомления на сайте EMS в раздела "Тарифы" - www.emspost.ru</p>
    <p>Другие варианты доставки страз</p>
    <p>Существует масса клиентов, которым удобно получать посылки через экспедиторов, водителей автобусов и грузовых
        автомобилей, проводников, стюардесс и прочих. Готовы произвести доставку посылки до указанного Вами места в
        Москве.</p>

{% endblock %}