{% set a1 = 'active' %}
{% set title = 'Интернет магазин страз' %}
{% set keywords = '' %}
{% set description = '' %}
{% extends 'layout.html.twig' %}
{% block main_content %}
    <div class="std">
        <p><span style="font-size: medium; color: #808080;">Это главная страница про стразы</span>
        </p>

        <p><span style="font-size: medium; color: #808080;">Это еще один абзац, или просто рыба.</span>
        </p>

        <p>
            <span style="font-size: medium;"><span style="color: #808080;">Это уже третий абзац его тоже можно менять</span>&nbsp;</span>
        </p>

        <p><code></code></p>

        <p>
            <code><a target="_blank" href="http://www.etsy.com/people/drozd/feedback"><img alt="" src="/img/happy1000customers.jpg"></a></code>
        </p>

        <p></p>

        <p><code></code></p>

        <p>
            <code><a target="_blank" href="http://www.drozd.com/rhinestones/flat-back-rhinestones.html"><img alt="" src="/img/ba_flatback.jpg"></a></code>
        </p>
        <code>
            <p>
                <a target="_blank" href="http://www.drozd.com/rhinestones/hot-fix-rhinestones.html"><img alt="" src="/img/ba_hotfix.jpg"></a>
            </p>

            <p>
                <a target="_blank" href="http://www.drozd.com/flat-back-pearls.html"><img alt="" src="/img/ba_pearls.jpg"></a>
            </p>

            <p>
                <a target="_blank" href="http://www.drozd.com/rhinestones/pointed-back-rhinestones.html"><img alt="" src="/img/ba_poined.jpg"></a>
            </p>

            <p>
                <a target="_blank" href="http://www.drozd.com/rhinestones/pointed-back-rhinestones.html"><img alt="" src="/img/ba_sewon.jpg"></a>
            </p>

            <p>
                <a target="_blank" href="http://www.drozd.com/cabochons.html"><img alt="" src="/img/ba_cabochon.jpg"></a>
            </p>
        </code>

        <p></p>

        <p></p>

        <div class="toolbar">
            <div class="sorter">
                <p class="view-mode">
                    <label>View as:</label> <strong title="Grid" class="grid">Grid</strong>
                    <a href="http://www.drozd.com/?mode=list" title="List" class="list">List</a>
                </p>

                <div class="sort-by">
                    <label>Sort By</label> <select onchange="setLocation(this.value)">
                        <option selected="selected" value="http://www.drozd.com/?dir=asc&amp;order=position">
                            Position
                        </option>
                        <option value="http://www.drozd.com/?dir=asc&amp;order=name">
                            Name
                        </option>
                        <option value="http://www.drozd.com/?dir=asc&amp;order=price">
                            Price
                        </option>
                        <option value="http://www.drozd.com/?dir=asc&amp;order=rhinestones_size">
                            Size
                        </option>
                    </select>
                    <a href="http://www.drozd.com/?dir=desc&amp;order=position"><img class="v-middle" alt="Set Descending Direction" src="/img/sort_asc_arrow.gif"></a>
                </div>
            </div>

            <div class="pager">
                <p class="amount">
                    Items 1-9 of 69 </p>

                <div class="limiter">
                    <label>Show</label> <select onchange="setLocation(this.value)">
                        <option selected="selected" value="http://www.drozd.com/?limit=9">
                            9
                        </option>
                        <option value="http://www.drozd.com/?limit=15">
                            15
                        </option>
                        <option value="http://www.drozd.com/?limit=30">
                            30
                        </option>
                    </select> per page
                </div>


            </div>
        </div>
        <div class="category-products">


            <ul class="products-grid first odd">
                <li class="item first">
                    <a class="product-image" title="Assorted Size Rhinestones - Clear Crystal 600pcs" href="http://www.drozd.com/rhinestones/assorted-size-rhinestones-flat-back.html">
                        <img width="135" height="135" alt="Assorted Size Rhinestones - Clear Crystal 600pcs" src="/img/assorted_rhinestones.jpg">
                    </a>

                    <h2 class="product-name">
                        <a title="Assorted Size Rhinestones - Clear Crystal 600pcs" href="http://www.drozd.com/rhinestones/assorted-size-rhinestones-flat-back.html">Assorted
                            Size Rhinestones - Clear Crystal 600pcs</a></h2>


                    <div class="price-box">
                                                                <span id="product-price-401" class="regular-price">
                                            <span class="price">$6.90</span>                                    </span>

                    </div>

                    <div class="actions">
                        <button onclick="setLocation('http://www.drozd.com/checkout/cart/add/uenc/aHR0cDovL3d3dy5xcmhpbmVzdG9uZXMuY29tLw,,/product/401/')" class="button btn-cart" title="Add to Cart" type="button">
                            <span><span>Add to Cart</span></span></button>
                        <ul class="add-to-links">
                            <li>
                                <a class="link-wishlist" href="https://drozd.gostorego.com/wishlist/index/add/product/401/?SID=">Add
                                    to Wishlist</a></li>
                            <li>
                                <a class="link-compare" href="http://www.drozd.com/catalog/product_compare/add/product/401/uenc/aHR0cDovL3d3dy5xcmhpbmVzdG9uZXMuY29tLw,,/">Add
                                    to Compare</a></li>
                        </ul>
                    </div>
                </li>
                <li class="item">
                    <a class="product-image" title="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestone-emerald-144-pcs-1-gross.html">
                        <img width="135" height="135" alt="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" src="/img/emerald_flat_back_crystals_1.jpg">
                    </a>

                    <h2 class="product-name">
                        <a title="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestone-emerald-144-pcs-1-gross.html">Flat
                            Back Crystal Rhinestone Emerald 144 pcs 1 GROSS</a></h2>


                    <div class="price-box">
                                                                <span id="product-price-298" class="regular-price">
                                            <span class="price">$2.90</span>                                    </span>

                    </div>

                    <div class="actions">
                        <button onclick="setLocation('http://www.drozd.com/rhinestones/flat-back-crystal-rhinestone-emerald-144-pcs-1-gross.html?options=cart')" class="button btn-cart" title="Add to Cart" type="button">
                            <span><span>Add to Cart</span></span></button>
                        <ul class="add-to-links">
                            <li>
                                <a class="link-wishlist" href="https://drozd.gostorego.com/wishlist/index/add/product/298/?SID=">Add
                                    to Wishlist</a></li>
                            <li>
                                <a class="link-compare" href="http://www.drozd.com/catalog/product_compare/add/product/298/uenc/aHR0cDovL3d3dy5xcmhpbmVzdG9uZXMuY29tLw,,/">Add
                                    to Compare</a></li>
                        </ul>
                    </div>
                </li>
                <li class="item last">
                    <a class="product-image" title="Flat Back Crystal Rhinestones Peridot 144 pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-peridot-144-pcs-1-gross.html">
                        <img width="135" height="135" alt="Flat Back Crystal Rhinestones Peridot 144 pcs 1 GROSS" src="/img/peridot_light_green_crystal_flatback_1.jpg">
                    </a>

                    <h2 class="product-name">
                        <a title="Flat Back Crystal Rhinestones Peridot 144 pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-peridot-144-pcs-1-gross.html">Flat
                            Back Crystal Rhinestones Peridot 144 pcs 1 GROSS</a></h2>


                    <div class="price-box">
                                                                <span id="product-price-292" class="regular-price">
                                            <span class="price">$2.90</span>                                    </span>

                    </div>

                    <div class="actions">
                        <button onclick="setLocation('http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-peridot-144-pcs-1-gross.html?options=cart')" class="button btn-cart" title="Add to Cart" type="button">
                            <span><span>Add to Cart</span></span></button>
                        <ul class="add-to-links">
                            <li>
                                <a class="link-wishlist" href="https://drozd.gostorego.com/wishlist/index/add/product/292/?SID=">Add
                                    to Wishlist</a></li>
                            <li>
                                <a class="link-compare" href="http://www.drozd.com/catalog/product_compare/add/product/292/uenc/aHR0cDovL3d3dy5xcmhpbmVzdG9uZXMuY29tLw,,/">Add
                                    to Compare</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="products-grid even">
                <li class="item first">
                    <a class="product-image" title="Flat Back Crystal Rhinestones Citrine 144 pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-citrine-144-pcs-1-gross.html">
                        <img width="135" height="135" alt="Flat Back Crystal Rhinestones Citrine 144 pcs 1 GROSS" src="/img/yellow_flat_back_rhinestones_1.jpg">
                    </a>

                    <h2 class="product-name">
                        <a title="Flat Back Crystal Rhinestones Citrine 144 pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-citrine-144-pcs-1-gross.html">Flat
                            Back Crystal Rhinestones Citrine 144 pcs 1 GROSS</a></h2>


                    <div class="price-box">
                                                                <span id="product-price-286" class="regular-price">
                                            <span class="price">$2.90</span>                                    </span>

                    </div>

                    <div class="actions">
                        <button onclick="setLocation('http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-citrine-144-pcs-1-gross.html?options=cart')" class="button btn-cart" title="Add to Cart" type="button">
                            <span><span>Add to Cart</span></span></button>
                        <ul class="add-to-links">
                            <li>
                                <a class="link-wishlist" href="https://drozd.gostorego.com/wishlist/index/add/product/286/?SID=">Add
                                    to Wishlist</a></li>
                            <li>
                                <a class="link-compare" href="http://www.drozd.com/catalog/product_compare/add/product/286/uenc/aHR0cDovL3d3dy5xcmhpbmVzdG9uZXMuY29tLw,,/">Add
                                    to Compare</a></li>
                        </ul>
                    </div>
                </li>
                <li class="item">
                    <a class="product-image" title="Flat Back Crystal Rhinestones Topaz 144 pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-topaz-144-pcs-1-gross.html">
                        <img width="135" height="135" alt="Flat Back Crystal Rhinestones Topaz 144 pcs 1 GROSS" src="/img/topaz_light_orange_flat_back_crystals_1.jpg">
                    </a>

                    <h2 class="product-name">
                        <a title="Flat Back Crystal Rhinestones Topaz 144 pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-topaz-144-pcs-1-gross.html">Flat
                            Back Crystal Rhinestones Topaz 144 pcs 1 GROSS</a></h2>


                    <div class="price-box">
                                                                <span id="product-price-280" class="regular-price">
                                            <span class="price">$2.90</span>                                    </span>

                    </div>

                    <div class="actions">
                        <button onclick="setLocation('http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-topaz-144-pcs-1-gross.html?options=cart')" class="button btn-cart" title="Add to Cart" type="button">
                            <span><span>Add to Cart</span></span></button>
                        <ul class="add-to-links">
                            <li>
                                <a class="link-wishlist" href="https://drozd.gostorego.com/wishlist/index/add/product/280/?SID=">Add
                                    to Wishlist</a></li>
                            <li>
                                <a class="link-compare" href="http://www.drozd.com/catalog/product_compare/add/product/280/uenc/aHR0cDovL3d3dy5xcmhpbmVzdG9uZXMuY29tLw,,/">Add
                                    to Compare</a></li>
                        </ul>
                    </div>
                </li>
                <li class="item last">
                    <a class="product-image" title="Flat Back Crystal Rhinestones Hyacinth (Orange Red) 144 pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-hyacinth-orange-red-144-pcs-1-gross.html">
                        <img width="135" height="135" alt="Flat Back Crystal Rhinestones Hyacinth (Orange Red) 144 pcs 1 GROSS" src="/img/hyacinth_flat_back_rhinestones_1.jpg">
                    </a>

                    <h2 class="product-name">
                        <a title="Flat Back Crystal Rhinestones Hyacinth (Orange Red) 144 pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-hyacinth-orange-red-144-pcs-1-gross.html">Flat
                            Back Crystal Rhinestones Hyacinth (Orange Red) 144 pcs 1 GROSS</a>
                    </h2>


                    <div class="price-box">
                                                                <span id="product-price-274" class="regular-price">
                                            <span class="price">$2.90</span>                                    </span>

                    </div>

                    <div class="actions">
                        <button onclick="setLocation('http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-hyacinth-orange-red-144-pcs-1-gross.html?options=cart')" class="button btn-cart" title="Add to Cart" type="button">
                            <span><span>Add to Cart</span></span></button>
                        <ul class="add-to-links">
                            <li>
                                <a class="link-wishlist" href="https://drozd.gostorego.com/wishlist/index/add/product/274/?SID=">Add
                                    to Wishlist</a></li>
                            <li>
                                <a class="link-compare" href="http://www.drozd.com/catalog/product_compare/add/product/274/uenc/aHR0cDovL3d3dy5xcmhpbmVzdG9uZXMuY29tLw,,/">Add
                                    to Compare</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="products-grid last odd">
                <li class="item first">
                    <a class="product-image" title="Flat Back Crystal Rhinestones SIAM 144pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-siam-144pcs-1-gross.html">
                        <img width="135" height="135" alt="Flat Back Crystal Rhinestones SIAM 144pcs 1 GROSS" src="/img/light_siam_flatback_rhinestones_1.jpg">
                    </a>

                    <h2 class="product-name">
                        <a title="Flat Back Crystal Rhinestones SIAM 144pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-siam-144pcs-1-gross.html">Flat
                            Back Crystal Rhinestones SIAM 144pcs 1 GROSS</a></h2>


                    <div class="price-box">
                                                                <span id="product-price-268" class="regular-price">
                                            <span class="price">$2.90</span>                                    </span>

                    </div>

                    <div class="actions">
                        <button onclick="setLocation('http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-siam-144pcs-1-gross.html?options=cart')" class="button btn-cart" title="Add to Cart" type="button">
                            <span><span>Add to Cart</span></span></button>
                        <ul class="add-to-links">
                            <li>
                                <a class="link-wishlist" href="https://drozd.gostorego.com/wishlist/index/add/product/268/?SID=">Add
                                    to Wishlist</a></li>
                            <li>
                                <a class="link-compare" href="http://www.drozd.com/catalog/product_compare/add/product/268/uenc/aHR0cDovL3d3dy5xcmhpbmVzdG9uZXMuY29tLw,,/">Add
                                    to Compare</a></li>
                        </ul>
                    </div>
                </li>
                <li class="item">
                    <a class="product-image" title="Flat Back Crystal Rhinestone FUCHSIA 144 Pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestone-fuchsia-144-pcs-1-gross.html">
                        <img width="135" height="135" alt="Flat Back Crystal Rhinestone FUCHSIA 144 Pcs 1 GROSS" src="/img/fuchsia_rhinestones_crystals_1.jpg">
                    </a>

                    <h2 class="product-name">
                        <a title="Flat Back Crystal Rhinestone FUCHSIA 144 Pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestone-fuchsia-144-pcs-1-gross.html">Flat
                            Back Crystal Rhinestone FUCHSIA 144 Pcs 1 GROSS</a></h2>


                    <div class="price-box">
                                                                <span id="product-price-262" class="regular-price">
                                            <span class="price">$3.90</span>                                    </span>

                    </div>

                    <div class="actions">
                        <button onclick="setLocation('http://www.drozd.com/rhinestones/flat-back-crystal-rhinestone-fuchsia-144-pcs-1-gross.html?options=cart')" class="button btn-cart" title="Add to Cart" type="button">
                            <span><span>Add to Cart</span></span></button>
                        <ul class="add-to-links">
                            <li>
                                <a class="link-wishlist" href="https://drozd.gostorego.com/wishlist/index/add/product/262/?SID=">Add
                                    to Wishlist</a></li>
                            <li>
                                <a class="link-compare" href="http://www.drozd.com/catalog/product_compare/add/product/262/uenc/aHR0cDovL3d3dy5xcmhpbmVzdG9uZXMuY29tLw,,/">Add
                                    to Compare</a></li>
                        </ul>
                    </div>
                </li>
                <li class="item last">
                    <a class="product-image" title="Flat Back Crystal Rhinestone Rose 144 pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestone-rose-144-pcs-1-gross.html">
                        <img width="135" height="135" alt="Flat Back Crystal Rhinestone Rose 144 pcs 1 GROSS" src="/img/rose_flatback_rhinestones_1.jpg">
                    </a>

                    <h2 class="product-name">
                        <a title="Flat Back Crystal Rhinestone Rose 144 pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestone-rose-144-pcs-1-gross.html">Flat
                            Back Crystal Rhinestone Rose 144 pcs 1 GROSS</a></h2>


                    <div class="price-box">
                                                                <span id="product-price-256" class="regular-price">
                                            <span class="price">$3.90</span>                                    </span>

                    </div>

                    <div class="actions">
                        <button onclick="setLocation('http://www.drozd.com/rhinestones/flat-back-crystal-rhinestone-rose-144-pcs-1-gross.html?options=cart')" class="button btn-cart" title="Add to Cart" type="button">
                            <span><span>Add to Cart</span></span></button>
                        <ul class="add-to-links">
                            <li>
                                <a class="link-wishlist" href="https://drozd.gostorego.com/wishlist/index/add/product/256/?SID=">Add
                                    to Wishlist</a></li>
                            <li>
                                <a class="link-compare" href="http://www.drozd.com/catalog/product_compare/add/product/256/uenc/aHR0cDovL3d3dy5xcmhpbmVzdG9uZXMuY29tLw,,/">Add
                                    to Compare</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd', 'even', 'first', 'last'])</script>
        </div>
        <div class="toolbar-bottom">
            <div class="toolbar">
                <div class="sorter">
                    <p class="view-mode">
                        <label>View as:</label> <strong title="Grid" class="grid">Grid</strong>
                        <a href="http://www.drozd.com/?mode=list" title="List" class="list">List</a>
                    </p>

                    <div class="sort-by">
                        <label>Sort By</label> <select onchange="setLocation(this.value)">
                            <option selected="selected" value="http://www.drozd.com/?dir=asc&amp;order=position">
                                Position
                            </option>
                            <option value="http://www.drozd.com/?dir=asc&amp;order=name">
                                Name
                            </option>
                            <option value="http://www.drozd.com/?dir=asc&amp;order=price">
                                Price
                            </option>
                            <option value="http://www.drozd.com/?dir=asc&amp;order=rhinestones_size">
                                Size
                            </option>
                        </select>
                        <a href="http://www.drozd.com/?dir=desc&amp;order=position"><img class="v-middle" alt="Set Descending Direction" src="/img/sort_asc_arrow.gif"></a>
                    </div>
                </div>

                <div class="pager">
                    <p class="amount">
                        Items 1-9 of 69 </p>

                    <div class="limiter">
                        <label>Show</label> <select onchange="setLocation(this.value)">
                            <option selected="selected" value="http://www.drozd.com/?limit=9">
                                9
                            </option>
                            <option value="http://www.drozd.com/?limit=15">
                                15
                            </option>
                            <option value="http://www.drozd.com/?limit=30">
                                30
                            </option>
                        </select> per page
                    </div>


                </div>
            </div>
        </div>
        <p></p></div>
{% endblock %}