{% set a1 = 'active' %}
{% set title = 'Интернет магазин страз' %}
{% set keywords = '' %}
{% set description = '' %}
{% extends 'layout.html.twig' %}
{% block main_content %}
    <div class="std">
        <p>Интернет магазин страз основан в марте 2011 года. Все товары, которые Вы уведете на нашем сайте, являются
            оригинальными.</p>

        <h2>Возникновение интернет магазина.</h2>

        <p>
            Много времени, а именно около 2 лет мы опасались продавать стразы, так как уже существовало много интернет
            магазинов, деятельность, которых основывалась на реализации различного рода страз. Но, с течением временем
            поняли, что стразы в интернет магазинах - ЕСТЬ, а информации как их правильно использовать и применять -
            НЕТ. Многие, покупая стразы в интернете, не знают, как и где их правильно применить, скажем, больше, не
            понимают элементарных вещей. Возможно, многих останавливает малое количество информации о применении такого
            рода материалов. Решив украсить, к примеру, аксессуар сотового телефона стразами, Вы покупаете гору страз в
            магазине и начинаете искать различные форумы, делиться опытом, зачастую не совсем верным — как итог,
            отрицательное отношение к интернет магазину как и в целом к сказочному миру страз, от того, что например
            стразы потускнели или дизайн вышел, отнюдь, «не привлекательным». </p>

        <p>Поэтому мы приняли решение открыть интернет магазин, помочь клиентам с поставками оригинальных страз, а также, используя свой интерес к данным материалам поделиться личным опытом работы с ними. Все те, кто решил увлечься стразами профессионально, сделать это более чем своим хобби, но и заработком – будем рады сотрудничеству.
        </p>

        <h2>Факты о нашем интернет магазине страз.</h2>
        <ul>
            <li>— интернет магазин работает 365 дней в году, доставки и отправки производятся в любой день</li>
            <li>— мы отправляем стразы Swarovski и DMC Корея по всей Российской Федерации</li>
            <li>— готовы предоставить бесплатные консультации по любым вопросам, касаемо, не только страз, но и их
                применения, как в устной форме, так и в интернет сетях.
            </li>
        </ul>

       <h2>Доказательства подлинности страз нашего интернет магазина.</h2>

        <p>А точно ли это стразы Swarovski?</p>

        <p>Оригинальные ли они?</p>

        <p>Есть гарантии, что ваш интернет магазин поставляет оригинальные стразы Swarovski?</p>

        <p>Подобные вопросы более чем разумны. Поспешим вас огорчить: производитель Swarovski сертификатов не выдает, а
            именно сертификатов на стразы, подвески, бусины, интерьерные кристаллы, компоненты люстр и прочее, не
            существует в природе. Такого рода документы выпускаются только на готовые изделия, производимые компанией
            Swarovski - фигурки, элементы бижутерии и прочее. Сегодня доказательством оригинальности страз Swarovski
            может быть только заводская упаковка имеющая ряд степей защиты.</p>

        <p>Сами посудите, сертификат не имеет большой убедительной силы для понимания подлинности. Этот документ
            выдается каждый раз на партию от некого числа, получателем в нем фигурирует определенный дистрибьютор.
            Позиции в нем не фигурируют, отражается сугубо вес.</p>

        <p>Безусловно, убедительным доказательством оригинальности - это качество самих страз Swarovski. Печать на
            документе может быть фальсифицированна, шаблон документа - приобретен, но вот огранку и блеск страз
            Swarovski подделать просто невозможно.</p>

    </div>
{% endblock %}