{% set a3 = 'active' %}
{% set title = 'Купить стразы' %}
{% set keywords = '' %}
{% set description = '' %}
{% extends 'layout.html.twig' %}
{% block main_content %}
    <div class="std">
        <h1>Как купить стразы?</h1>
        <ol>
            <li>Выберите интересующие Вас товары, сформируйте корзину.</li>
            <li>Оформите заказ на сайте, заполнив анкету.</li>
            <li>В течение 24 часов с Вами свяжется наш специалист для уточнения условий заказа.</li>
        </ol>
        <h2>Доступные способы оплаты:</h2>

        <p>Оплата курьеру при получении заказа на руки.</p>

        <p>Кошелек - QIWI. Оплата через терминал QIWI-кошелька, комиссия не взимается.</p>

        <p>Карта РайффайзенБанк. Оплаты на карту РайффайзенБанк в любом отделении. Поступление оплаты незамедлительно,
            преимущественно без комиссии. Вы получите реквизиты по e-mail, по факту согласования стоимости.</p>

        <p>Удобны Вам вариант оплаты.</p>

        <h2>Купить стразы – быть в центре внимания!</h2>

        <p>Неотразимость - желаемое свойство многих представительниц женского пола. Превознести свою блистательность и
            грацию при помощи ярких кристаллов готова каждая девушка. Поэтому наиболее популярным ныне украшениям можно
            признать стразы. Отдельные личности будут возражать, считая уникальными элементами бриллианты. Но стоит
            понимать, что такого рода украшения не носятся ежедневно, их одевают только по особым случаям. А украшенные
            стразами аксессуары и одежда, будут иметь место в обычный день.</p>

        <p>Изготавливать простые и очень красивые стразы не сложно, именно поэтому можно купить стразы разнообразные по
            форме, размерам и цветам. Тут вы можете купить и божественные по своей красоте стразы Сваровски и более
            доступные по цене стразы китайского производства.</p>

        <p>Разнообразные цветовые решения позволяют изготавливать всевозможные, головокружительные решения по
            инкрустации. Наряду с традиционными стразами золотистого и серебряного отлива, сегодня популярны элементы
            сиреневого, бирюзового, изумрудного оттенков, которые вы также можете купить у нас.</p>

        <h2>Почему необходимо купить стразы!</h2>

        <p>Потому как элементы, украшенные стразами, ныне в тренде, цены на такие вещи имеют не малые цены.</p>

        <p>Самые предприимчивые вышли из положения, приняв решение купить стразы и инкрустировать элементы декора и не
            только самостоятельно. Простая футболка перевоплотиться в привлекательную вещ, аналогичной по своему виду
            какой либо брендовой.</p>

        <p>Достоинство страз – простейшее решение вопроса по приданию эксклюзивности. Если белое платье инкрустировать
            купленными стразами Сваровски по линии разреза, то более никакие украшения не нужны, а платье приобретет
            нарядный и торжественный вид.</p>

        <p>Можно купить стразы, для украшения одежды для детей. Переливающиеся, яркие стразы приведут в восторг девочек,
            да и мальчиков тоже.</p>

        <h2>Купить стразы – это просто!</h2>

        <p>Стразы - отличный материал для изготовления украшений. Чуть фантазии и навыка помогут изготовить
            индивидуальное колье или браслет. Маленькие аналоги бриллиантов практикуют в использовании для маникюра и
            макияжа. Наличие фантазии поможет Вам найти всевозможное применение купленным стразам.</p>

        <p>У нас вы найдете огромный выбор страз.</p>

        <p>У нас вы можете купить стразы можно по самым выгодным ценам.</p></div>
{% endblock %}