<div class="footer-container">
    <div class="footer">
        <ul class="links">
            <li class="first">
                <a title="Site Map" href="/sitemap.xml">Карта сайта</a>
            </li>
            <li>
                <a title="Search Terms" href="/">Search Terms</a>
            </li>
            <li>
                <a title="Advanced Search" href="/">Advanced Search</a></li>
            <li><a title="Orders and Returns" href="/">Orders and Returns</a></li>
            <li class=" last">
                <a title="Контакты" href="/contacts.php">Контакты</a>
            </li>
        </ul>
        <ul class="links">
            <li>
                <span class="widget widget-cms-link"><a title="About  Us - where Q stands for Quality" href="/o_nas.php"><span>О нас</span></a></span>
            </li>
            <li class="last">
                <span class="widget widget-cms-link"><a title="Customer Service" href="/"><span>Customer Service</span></a></span>
            </li>
        </ul>
    </div>
</div>
