<div id="maininner" class="grid-box">
	<section id="innertop" class="grid-block">
		<div class="grid-box width100 grid-h">
			<div class="module mod-box ">
				<div class="deepest">
					<div id="slideshow-2-4f9980931a89e" class="wk-slideshow wk-slideshow-balance" data-widgetkit="slideshow" data-options='{"style":"balance_default","autoplay":1,"interval":5000,"width":"auto","height":443,"duration":500,"index":0,"order":"default","navigation":1,"buttons":0,"slices":20,"animated":"fade","caption_animation_duration":500}'>
						<div>
							<ul class="slides">
								<li>
									<article class="wk-content clearfix"><h3 class="module-title">Веб-студия «Light
									                                                              Dream» – создание и
									                                                              продвижение
									                                                              сайтов </h3>

										<div align="center"><img src="/images/stories/web_studiya_Light_dream.png"alt="Веб-студия Light Dream - создание и продвижение сайтов" title="Веб-студия Light Dream - создание и продвижение сайтов"/></div>
										<br> Безупречно созданный сайт - это прекрасный инструмент ведения бизнеса,
									         который поможет не только представить товар или услугу на виртуальной
									         витрине интернета, но и расскажет о фирме, увеличит ваши продажи, расширит
									         клиентскую базу.
									         Разработка качественных, недорогих, запоминающихся интернет-ресурсов, а
									         также их последующее продвижение в поисковых системах - основной вид
									         деятельности веб-студии «Light Dream». Мы предлагаем новаторские,
									         интересные и выгодные решения в области <em>создании и продвижении сайтов</em>! И мы
									         здесь, чтобы помочь Вам достичь ваших личных, деловых или корпоративных
									         целей.
									</article>
								</li>
								<li>
									<article class="wk-content clearfix"><h3 class="module-title">Создание
									                                                              сайтов в Ижевске.</h3>

										<p><strong>Создание сайтов</strong> - это трудоемкий процесс,
										                                                 нуждающийся в полном
										                                                 взаимопонимании
										                                                 между заказчиком
										                                                 и исполнителем. Мы стремимся
										                                                 проникнуть в суть вашего
										                                                 бизнеса, понять цели и
										                                                 приоритеты, тем самым создать
										                                                 сайт высочайшего качества.
										                                                 Веб-студия «Light Dream»
										                                                 предлагает индивидуальные
										                                                 решения для организаций,
										                                                 корпораций, учреждений, бизнеса
										                                                 и частных лиц.
										</p>

										<p>Мы предоставляем следующие <a href="/sozdanie_saytov.php">услуги по созданию сайтов</a>:
										</p>
										<ul>
											<li>Создание сайта-визитки</li>
											<li>Создание корпоративных порталов</li>
											<li>Разработка официальных сайтов</li>
											<li>Создание интернет магазинов</li>
											<li>Разработка социальных сетей и форумов</li>
											<li>Поддержка и обслуживание интернет-ресурсов</li>
										</ul>
									</article>
								</li>
								<li>
									<article class="wk-content clearfix"><h3 class="module-title">Продвижение сайтов в
									                                                              ТОП</h3>

										<p>При <em>продвижении сайтов в ТОП</em> мы тщательно анализируем Интернет-рынок
										   и
										   разрабатываем эффективные стратегии раскрутки, в соответствии с вашими
										   потребностями и целями. Мы результативно повышаем рейтинг вашего веб-ресурса
										   в
										   ТОП поисковых систем. Тем самым, вы получаете более высокие позиции в
										   поисковой
										   выдаче.</p>

										<p>Для расширения вашего бизнеса и привлечения новых клиентов веб-студия «Light
										   Dream» предлагает услуги по продвижению сайтов в ТОП:
										</p>

										<div class="box-content">
											<ul class="check">
                                                <li><NOBR>Статейное <a href="/Prodvizhenie_i_raskrutka_saytov.php">продвижение сайтов</a></NOBR></li>
												<li>Поисковая оптимизация</li>
												<li>Организация контекстной рекламы в интернете</li>
												<li>Написание статей и текстов для сайта (seo-копирайтинг)</li>
                                                <li><NOBR><a href="/nakrutka-prosmotrov-na-youtube.php">Раскрутка видео в Youtube</a> для привлечения заинтересованной аудитории</NOBR></li>
												<li>Управление репутацией организации/IT-портала в интернете</li>
											</ul>
										</div>
									</article>
								</li>
								<li>
									<article class="wk-content clearfix"><h3 class="module-title">Размещение контекстной
									                                                              рекламы </h3>

										<p><strong>Размещение контекстной рекламы</strong>
											в интернете - один из самых эффективных в
											сети рекламных инструментов. Это наиболее оперативная и плодотворная
											стратегия привлечение целевых посетителей на ваш сайт. Наши специалисты
											сделают все, чтобы Ваш клиент попал именно к Вам. Воспользовавшись услугой
											<a href="/Kontekstnaya_reklama.php">размещения контекстной рекламы</a>, вы гарантированно окажетесь на первой
											странице результатов поиска уже в день заказа рекламной компании.</p>

										<p>Наши услуги по размещению контекстной рекламы в интернете:</p>
										<ul class="check">
											<li>Мониторинг и анализ рекламы конкурентов</li>
											<li>Подбор более 100 ключевых слов и фраз</li>
											<li>Разработка рекламы для ЯндексДирект, Begun, Adwords Google</li>
											<li>Гибкая система настройки и управления компанией.</li>
										</ul>
									</article>
								</li>
							</ul>
							<div class="caption"></div>
							<ul class="captions">
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
						<ul class="nav">
							<li><span></span></li>
							<li><span></span></li>
							<li><span></span></li>
							<li><span></span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
