<header>
	<h1 class="title">{{ entry.title }}</h1>
</header>
<div class="content clearfix">
	<h2>{{entry.title}}</h2>

	<h3>Plimun Design- Let Us Show You How To Position Your Brand Online!</h3>

	<div class="box-note">
		<table width="100%" border="0">
			<tbody>
			<tr>
				<td valign="top">
					<strong> <img src="/images/stories/web_studiya.png"><br>

						<h3>PLIMUN.COM</h3>
						170 East 3rd Street,<br>New York 10009, United States<br><br> Phone: (866) 588-8916<br> Email:
						<a href="mailto:info@plimun.com">info@plimun.com</a> </strong>
				</td>
				<td valign="top">
					<!-- Plugin Google Maps version 2.13b by Mike Reumer -->
					<!-- fail nicely if the browser has no Javascript -->
					<div id="mapbody28_pzje1_0" style="display: block; text-align: center;">
						<div refreshmap="1" oldvalue="350" id="googlemap28_pzje1_0" class="map" style="margin-right: auto; margin-left: auto; width: 350px; height: 300px; position: relative; background-color: rgb(229, 227, 223); overflow: hidden;"></div>
					</div>
					<br></td>
			</tr>
			</tbody>
		</table>
	</div>
	<p>Website development is playing a key role in any marketing strategy. Web Development has reshaped the face of
		marketing and business industry. The Internet has introduced to the world, new advertising solutions, and today
		it's unimaginable to run a small business or a corporation without an online platform. A professional or
		individual website can increase your sales, maximize your profit, draw new clients, and promote your
		business/organization/
		<wbr></wbr>
		services. Owning a website is no longer an additional marketing tool, it is a necessity. If your goal is to
		reach your target audience, spread your influence and establish communication with more potential clients, then
		owning a website is the perfect solution.&nbsp;&nbsp;<br> <br></p>
	<div class="box-content">
		<ul class="check">
			<li>Flash Media Server</li>
			<li>WPF</li>
			<li>AJAX</li>
			<li>Adobe Flex</li>
			<li>Silver Light</li>
		</ul>
	</div>
	<h3>Plimun Web Service - Unique Web Solutions For Your Business!</h3>

	<div class="box-note">
		<h3 style="margin-top: 0px; margin-bottom: 0px;">
			<ul class="check">
				<li>100% Money Back Guarantee</li>
			</ul>
		</h3>
	</div>
	<p>Plimun Web Design Company has a unique approach and unique work process. We offer fresh and bold solutions which
		are shaped according to your business/individual needs. We are offering to analyze the online market, determine
		your target audience, thus helping you to accomplish your business or individual goals. We are dedicated to
		helping you promote your services and to establish a stable online presence. We are also providing an efficient,
		high quality website design which will present your corporation or services in the best manner thereby giving
		you a unique chance to boost your sales or connect with potential business partners.</p>
	<ul class="check">
		<li>development of custom shopping carts</li>
		<li>online store building</li>
	</ul>
	<h3>Our Service Includes:</h3>
	<ul type="DISC">
		<li>small business design</li>
		<li>custom websites</li>
		<li>website redesign</li>
		<li>website maintenance</li>
		<li>back-end CMS</li>
		<li>flash</li>
		<li>HTML</li>
		<li>corporate design</li>
		<li>RIA -internet applications</li>
		<li>social network services-forum systems</li>
	</ul>
	<h4>Our solutions include:</h4>

	<p>Plimun is working closely with clients thus providing the best solutions which are fit the client's needs and
		requirements.</p>

	<form name="ChronoContact_contact" id="ChronoContact_contact" method="post" action="http://www.plimun.com/index.php?option=com_chronocontact&amp;task=send&amp;chronoformname=contact&amp;Itemid=28" class="box style">
		<fieldset>
			<legend>Contact Form</legend>
			<table width="100%" border="0" class="zebra">
				<tbody>
				<tr>
					<td colspan="2">Fields marked with a * are required.<br></td>
				</tr>
				<tr>
					<td>Choose a Department *:</td>
					<td><select class="required validate-selection" size="1" name="Department">
						<option value="">Select One...</option>
						<option value="Sales">Sales</option>
						<option value="Support">Support</option>
					</select></td>
				</tr>
				<tr>
					<td>Your Name *:</td>
					<td><input type="text" class="required" name="Name" size="39"></td>
				</tr>
				<tr>
					<td>Your Email *:</td>
					<td><input type="text" class="required validate-email" name="Email" size="39">
					</td>
				</tr>
				<tr>
					<td> Company :</td>
					<td><input type="text" name="company" size="39"></td>
				</tr>
				<tr>
					<td>Phone Number:</td>
					<td><input type="text" name="Phone" size="39"></td>
				</tr>
				<tr>
					<td>Your Message *:</td>
					<td><textarea class="required" rows="9" name="Message" cols="49"></textarea>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>
						<input type="submit" name="submit" value="    Submit    " class="button">&nbsp;&nbsp;<input type="reset" name="reset" value="    Clear    " class="button">
					</td>
				</tr>
				</tbody>
			</table>
			<br>
		</fieldset>
		<input type="hidden" name="93bf27e0d287a9b47170c667be5372eb" value="1">
		<input type="hidden" name="1cf1" value="f0f2a1b6cd349bbd48e7b2b3fb342131">
	</form>
</div>