<div class="col-right sidebar"><p>
        <a target="_blank" href="http://www.facebook.com/drozd" title="LIKE Us on Facebook!"><img width="30" height="30" alt="" src="/img/facebook.png"></a><a target="_blank" href="http://statigr.am/tag/drozd" title="Instagram #drozd">
            <img width="30" height="30" alt="" src="/img/instragram.png"></a><a target="_blank" href="http://www.youtube.com" title="drozd on Youtube">
            <img width="30" height="30" alt="" src="/img/twitter.png">
            <img width="30" height="30" alt="" src="/img/youtube.png"></a><a target="_blank" href="http://www.etsy.com/shop/drozd/" title="drozd on Etsy">
            <img width="30" height="30" alt="" src="/img/etsy.png"></a><a target="_blank" href="https://drozd.gostorego.com/contacts/" title="Contact Us">
            <img width="30" height="30" alt="" src="/img/mail.png"> </a></p>

    <p>&nbsp;</p>

    <p>
        <a target="_self" href="/crystaly_strazy_svarovsky.php"><img alt="Кристаллы стразы Сваровски" src="/img/btn_flatback.jpg"></a> <br>
        <a target="_self" href="/kleevye_strazy"><img alt="Клеевые стразы" src="/img/btn_hotfix.jpg"></a>
        <br>
        <a target="_self" href="/termostrazy"><img alt="Термостразы" src="/img/btn_pointed.jpg"></a>
        <br>
        <a target="_self" href="/strazy_dmc"><img alt="Стразы DMC(дмс)" src="/img/btn_pearls.jpg"></a>
        <br>
        <a target="_self" href="/kley_dlya_straz"><img alt="Аксессуары и наборы (Паяльник для страз, клей для страз)" src="/img/btn_fancystones.jpg"></a>
        <br>
        <a target="_self" href="/izdeliya_cristaly_svarovsky"><img alt="Изделия с кристаллами Сваровски" src="/img/btn_tutorials.jpg"></a>
    </p>

    <p>&nbsp;</p>
</div>
