<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-9664825-3']);
	_gaq.push(['_trackPageview']);

	(function () {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
</script>
<script src="/media/widgetkit/widgets/lightbox/js/lightbox.js?_=1335879359315" type="text/javascript"></script>
<script src="/media/widgetkit/widgets/mediaplayer/mediaelement/mediaelement-and-player.js?_=1335879359321" type="text/javascript"></script>
<script src="/media/widgetkit/widgets/spotlight/js/spotlight.js?_=1335879359325" type="text/javascript"></script>
<script src="/media/widgetkit/widgets/slideshow/js/slideshow.js?_=1335879359641" type="text/javascript"></script>
<script src="/media/widgetkit/widgets/slideset/js/slideset.js?_=1335879359650" type="text/javascript"></script>
<script src="http://platform.twitter.com/widgets.js?_=1336254682451" type="text/javascript"></script>
