<link rel="stylesheet" href="/templates/yoo_balance/css/base.css"/>
<link rel="stylesheet" href="/templates/yoo_balance/css/layout.css"/>
<link rel="stylesheet" href="/templates/yoo_balance/css/menus.css"/>
<link href="/components/com_chronocontact/css/consolidated_common.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="/plugins/content/ja_tabs/ja_tabs.css" type="text/css" media="screen"/>
<link href="/templates/yoo_balance/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<link rel="stylesheet" href="/cache/widgetkit/widgetkit-b306dac6.css" type="text/css"/>
<link rel="stylesheet" href="/templates/yoo_balance/css/modules.css"/>
<link rel="stylesheet" href="/templates/yoo_balance/css/tools.css"/>
<link rel="stylesheet" href="/templates/yoo_balance/css/system.css"/>
<link rel="stylesheet" href="/templates/yoo_balance/css/extensions.css"/>
<link rel="stylesheet" href="/templates/yoo_balance/css/custom.css"/>
<link rel="stylesheet" href="/templates/yoo_balance/css/animations.css"/>
<link rel="stylesheet" href="/templates/yoo_balance/css/background/gradient_blue.css"/>
<link rel="stylesheet" href="/templates/yoo_balance/css/font1/mavenpro.css"/>
<link rel="stylesheet" href="/templates/yoo_balance/css/font2/aldrich.css"/>
<link rel="stylesheet" href="/templates/yoo_balance/css/font3/aldrich.css"/>
<link rel="stylesheet" href="/templates/yoo_balance/css/style.css"/>
<link rel="stylesheet" href="/templates/yoo_balance/css/print.css"/>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700"/>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Aldrich"/>
<style>
	body {
		min-width: 960px;
	}

	.wrapper {
		width: 960px;
	}

	#sidebar-a {
		width: 295px;
	}

	#maininner {
		width: 665px;
	}

	#menu .dropdown {
		width: 250px;
	}

	#menu .columns2 {
		width: 300px;
	}

	#menu .columns3 {
		width: 750px;
	}

	#menu .columns4 {
		width: 1000px;
	}
	span.cf_alert {
		background: #FFD5D5 url(/components/com_chronocontact/css/images/alert.png) no-repeat scroll 10px 50%;
		border: 1px solid #FFACAD;
		color: #CF3738;
		display: block;
		margin: 15px 0pt;
		padding: 8px 10px 8px 36px;
	}
</style>
