<div class="nav-container">
    <ul id="nav">
        <li class="level0 nav-1 level-top first parent">
            <a class="level-top" href="http://www.drozd.com/rhinestones.html"> <span>Rhinestones</span> </a>
        </li>
        <li class="level0 nav-2 level-top">
            <a class="level-top" href="http://www.drozd.com/flat-back-pearls.html"> <span>Pearls</span> </a>
        </li>
        <li class="level0 nav-3 level-top">
            <a class="level-top" href="http://www.drozd.com/cabochons.html"> <span>Cabochons</span> </a>
        </li>
        <li class="level0 nav-4 level-top">
            <a class="level-top" href="http://www.drozd.com/accessories-tools.html"> <span>Accessories</span> </a>
        </li>
        <li class="level0 nav-5 level-top">
            <a class="level-top" href="http://www.drozd.com/color-and-size.html"> <span>Color and Size</span> </a>
        </li>
        <li class="level0 nav-6 level-top last">
            <a class="level-top" href="http://www.drozd.com/how-to.html"> <span>How-To</span> </a>
        </li>
    </ul>
</div>
