{% set a5 = 'active current' %}
{% set b1 = 'active current' %}
{% extends "web_studiya_Lightdream.html.twig" %}
{% block title %} Этапы создания сайта. {% endblock %}
{% block head_block %}
{% if entry %}
{% if entry.strtags %}
<meta name="Keywords"
	  content="этап, создание, сайт, разработка, договор, проект.">{% endif %}
{% if entry.excerpt %}
<meta name="Description"
	  content="Основные этапы разработки и создания сайта веб-студией «Light Dream». Заключение договора и составление технического задания на создание сайта.">{% endif %}
{% endif %}
{% endblock %}
{% block top_a %}{% endblock %}{% block top_b %}{% endblock %}{% block top_c %}{% endblock %}
{% block content %}
<div style="min-height: 2160px;" id="maininner" class="grid-box">
	<section id="content">
		<div class="grid-block">
			<div id="system">
				<article class="item">
					<header>
						<h1 class="title">Этапы создания сайта веб-студией «Light Dream».</h1>
					</header>
					<div class="content clearfix">
						<h2>Договор и техническое задание на создание сайта.</h2>

						<p>Перед началом работ по разработке и созданию сайта будет заключен договор между <a href="/web_studiya_Lightdream.php">Веб-студией «Light Dream»</a>  и вашей организацией.  В договоре прописываются условия взаимодействия сторон, схема оплаты, сроки и этапы работ по созданию проекта. Важнейшей частью договора является техническое задание на разработку ресурса. Этот документ включает в себя следующие разделы: </p>
						<ul type="DISC">
							<li>Требования к проекту (дизайн, навигация, основные модули)</li>
							<li>Описание структуры сайта и навигации</li>
							<li>Функциональные возможности системы управления</li>
							<li>Описание сервисов</li>
							<li>Требования к формату отображения информации</li>

						</ul>

						<p>Договор и техническое задание согласовываются сторонами. После чего наша веб-студия начинает процесс <a href="/sozdanie_saytov.php">создания сайта</a> заказчика. Работы будут производиться на тестовом сервере, благодаря чему вы сможете отслеживать весь процесс самостоятельно.
						</p>


						<h2>Основные этапы разработки и создания сайта.</h2>

							<ul type="DISC">
								<li><strong>Этап разработки концепции проекта.</strong> На этом этапе происходит определение целей и задач, стоящих перед будущим интернет-ресурсом. Мы проводим анализ сферы вашего бизнеса, исследуем конкурентов и целевую аудиторию. На основании полученных данных, обсуждается концепция оформления будущего проекта, определяются основные требования к структуре страниц.</li>
								<li><strong>Создание дизайна сайта.</strong> Исходя из целей, поставленных перед сайтом, разрабатывается дизайн проекта. В ходе этого этапа продумывается оформление главной и второстепенных страниц. В результате предлагается решение, которое наилучшим образом демонстрирует все функциональные возможности проекта, а так же удовлетворяет запросам целевой аудитории.</li>
								<li><strong>Этап создания технологической основы.</strong> Этап программирования, результатом которого становится разработка и интеграция программных компонентов в дизайн проекта. Созданные нами ресурсы имеют встроенную систему управления. С помощью которой заказчик сможет обновлять информацию, поддерживать сайт, редактировать его графическое содержание.</li>
								<li><strong>Верстка и наполнение текстами.</strong> После создания сайта происходит внесение текстовой информации в базы данных. Стоит заметить, <a href="/seo_copywriting.php">написание текстов</a>, оптимизированных под поисковые системы, необходимо доверять профессионалам.</li>
								<li><strong>Этап тестирование проекта</strong>. Проверка текстов на наличие грамматических ошибок, тестирование сайта на корректное отображение в различных браузерах. Ваши сотрудники на этом этапе смогут оценить удобство навигации.</li>
								<li><strong>Публикация проекта в интернете</strong>. Специалисты веб-студии «Light Dream» проведут все работы по регистрации доменного имени (адрес) и размещению проекта в интернете (хостинг). В результате чего, ресурс становится доступным всем пользователям сети Интернет.</li>
								<li><strong>Продвижение сайта</strong>. После того как проект запущен, специалисты веб-студии «Light Dream», по вашему желанию, сосредоточат свои усилия на <a href="/Prodvizhenie_saytov.php">продвижение сайта</a> в поисковых системах. Проведем рекламную компанию вашего ресурса в сети и повысим его посещаемость. Или же организуем публикацию <a href="/Kontekstnaya_reklama.php">контекстной рекламы Яндекс, Google</a>, что моментально приведет на ваш ресурс целевых посетителей.</li>
								<li><strong>Поддержка вашего ресурса</strong>. После сдачи готового проекта в эксплуатацию, мы предоставляем услуги технической <a href="/Podderzhka_i_obsluzhivanie_saytov.php">поддержки и обслуживания сайта</a>. Обслуживание сайта позволит постоянно поддерживать Ваш проект в исправном состоянии. Вы будете иметь под рукой профессионалов, которые проведут любую работу по сайт быстро и качественно.</li>

							</ul>

					</div>
				</article>
			</div>
		</div>
	</section>
</div>
{% endblock %}