{% set a5 = 'active current' %}
{% set b3 = 'active current' %}
{% extends "web_studiya_Lightdream.html.twig" %}
{% block title %} Ваши вопросы по созданию и продвижению сайтов | FAQ. {% endblock %}
{% block head_block %}
{% if entry %}
{% if entry.strtags %}
<meta name="Keywords"
	  content="Вопрос, сайт, срок, создание, продвижение, дизайн.">{% endif %}
{% if entry.excerpt %}
<meta name="Description"
	  content="На этой странице мы отвечаем на наиболее часто задаваемые вопросы.">{% endif %}
{% endif %}
{% endblock %}
{% block top_a %}{% endblock %}{% block top_b %}{% endblock %}{% block top_c %}{% endblock %}
{% block content %}
<div style="min-height: 2160px;" id="maininner" class="grid-box">
	<section id="content">
		<div class="grid-block">
			<div id="system">
				<article class="item">
					<header>
						<h1 class="title">Часто задаваемые вопросы</h1>
					</header>
					<div class="content clearfix">
						<h3>Сколько стоит создание сайта?</h3>

						<p>Самый популярный вопрос. <a href="/stoimost_sozdaniya_saytov.php">Стоимость создания сайта</a> в веб-студии «Light Dream» рассчитывается индивидуально. Если Вы хотите определиться с точной ценой, просто свяжитесь с нами и ответьте на ряд вопросов: </p>
						<ul type="DISC">
							<li>Какой дизайн необходим проекту</li>
							<li>Планируемая структура интернет-ресурса (меню, разделы, количество страниц)</li>
							<li>Какими функциями должен обладать проект</li>
							<li>Тексты готовы или их необходимо писать</li>
							<li>Какие цели и задачи вы ставите перед проектом</li>

						</ul>

						<p>Проанализировав ваши ответы, мы сможем точно сказать, сколько будет стоить сайт. Для удобства выбора мы предлагаем 3 базовых тарифа: <a href="/Sozdanie_sayta_vizitki.php">создание сайта-визитки</a>, <a href="/Sozdanie_korporativnyh_saytov.php">создание корпоративного сайта</a>, <a href="/sozdanie_internet_magazina.php">создание интернет магазина</a>.
						</p>


						<h3>В какие сроки вы создаете и запускаете сайт?</h3>

						<p>В зависимости от сложности дизайна, функционала, объема информации создание сайта-визитки займет от 3 до 7 дней, разработка корпоративного ресурса от 10 до 20 дней, интернет-магазина от 15 до 30 дней.  Большое количество времени уходит на процесс согласования отдельных нюансов с заказчиком. Разработка интернет-проета может затянуться, если заказчик отвечает на запросы наших специалистов с задержкой.
						</p>

						<h3>Сколько предлагается вариантов дизайна при создании сайта?</h3>

						<p>С учетом пожеланий заказчика мы разрабатываем в рамках договора один дизайн. В процессе разработки макет корректируется согласно вашим рекомендациям. Если же заказчик недоволен дизайном, возможен вариант разработки второго макет, но не более двух в общей сложности.
						</p>
						<h3>Сможем ли мы самостоятельно добавлять и изменять материалы на сайте?</h3>

						<p>В процессе создания ресурса мы снабжаем его удобной системой управления (CMS). Эта система позволяет даже начинающему пользователю легко размещать статьи, новости, картинки и редактировать любой материал.  Интерфейс системы управления, в значительной степени, похож на всем известный Microsoft Word.
						</p>
						<h3>Что такое домен и хостинг? Для чего они нужны?</h3>

						<p><strong>Домен</strong> – это www адрес Вашего сайта в сети. (К примеру домен веб-студии «Light Dream» kldjfkd.ru.) Двух одинаковых доменов в интернете быть не может. Его необходимо регистрировать и выкупать. Регистрация и продление домена на год стоит около 300 рублей.</p>
						<p><strong>Хостинг</strong> - услуга по предоставлению дискового пространства под ваш ресурс, благодаря которой обеспечивается доступ к сайту с любой точки мира. Стоимость хостинга на 12 месяцев – 2000 руб.

						</p>
						<h3>Через какое время мой сайт попадет в ТОП 10?</h3>

						<p>После начала работ по <a href="/Prodvizhenie_i_raskrutka_saytov.php">продвижению и раскрутке</a>, сайт попадает в ТОП 10 через 2-6 месяцев. Все зависит от конкурентности ключевых запросов, по которым вы планируете продвинуть свой ресурс в ТОП и от давности регистрации домена в сети. Первые результаты и значительный прирост позиций  будут видны уже через месяц после начала работ.
						</p>

						<h3>Через какое время после запуска контекстной рекламы пойдут заказы?</h3>

						<p>Уже через несколько часов после начала работ по организации <a href="/Kontekstnaya_reklama.php">контекстной рекламы Яндекс, Google</a>, на ваш сайт попадут первые потенциальные клиенты.  А телефон будет разрываться от звонков клиентов. Рекламную компанию можно начать в любое время и настроить под удобный для вас график работы.
						</p>

						<h3>Как проходит поисковая оптимизация сайта?</h3>

						<p><a href="/poiskovaya_optimizaciya_saytov.php">Поисковая оптимизация сайта</a> – это корректировка кода страниц ресурса и его текстового наполнения под требования поисковых систем. После заключения договора на оптимизацию наши специалисты разрабатывают список ключевых слов, проводят анализ на наличие HTML-ошибок, добавляют уникальный контент, корректируют заголовки и теги, продумывают навигацию и анализируют поведение пользователей.
						</p>
					</div>
				</article>
			</div>
		</div>
	</section>
</div>
{% endblock %}