{% set a4 = 'active current' %}
{% extends "layout.html.twig" %}
{% block title %} Готовые сайты. {% endblock %}

{% block keywords %}
<meta name="Keywords"
	  content="Готовые, сайты, веб, студия, Light, Dream.">
{% endblock %}
{% block description %}
<meta name="Description"
	  content="Готовые сайты от веб-студии «Light Dream»">
{% endblock %}

{% block top_a %}{% endblock %}{% block top_b %}{% endblock %}{% block top_c %}{% endblock %}
{% block content %}
<div style="min-height: 2160px;" id="maininner" class="grid-box">
	<section id="content">
		<div class="grid-block">
			<div id="system">
				<article class="item">
					<header>
						<h1 class="title">Готовые сайты от веб-студии «Light Dream»</h1>
					</header>
					<div class="content clearfix">
						<h2>Примеры и шаблоны готовых сайтов.</h2>

						<p> Страница в разработке. </p>

						<p>

					</div>
				</article>
			</div>
		</div>
	</section>
</div>
{% endblock %}