{% set a3 = 'active current' %}
{% set b3 = 'active current' %}
{% extends "Prodvizhenie_saytov.html.twig" %}
{% block title %} Контекстная реклама Яндекс, Google. {% endblock %}
{% block head_block %}
{% if entry %}
{% if entry.strtags %}
<meta name="Keywords"
	  content="Контекстная, реклама, Google, Яндекс.Директ, AdWords, услуга, Веб-студия «Light Dream», сайт.">{% endif %}
{% if entry.excerpt %}
<meta name="Description"
	  content="Контекстная реклама Яндекс, Google. Услуги разработки и проведения контекстной рекламной компании от веб-студии «Light Dream»">{% endif %}
{% endif %}
{% endblock %}
{% block top_a %}{% endblock %}{% block top_b %}{% endblock %}{% block top_c %}{% endblock %}
{% block content %}
<div style="min-height: 2160px;" id="maininner" class="grid-box">
	<section id="content">
		<div class="grid-block">
			<div id="system">
				<article class="item">
					<header>
						<h1 class="title">Контекстная реклама Яндекс, Google</h1>
					</header>
					<div class="content clearfix">
						<h2>Что такое контекстная реклама?</h2>

						<p><strong>Контекстная реклама</strong>
							- это небольшие продающие текстовые объявления, которые показываются заинтересованным клиентам в поисковых системах со ссылкой на ваш сайт. Воспользовавшись услугой контекстной рекламы, вы моментально покупаете первые строчки поиска Яндексе и Google по заданным ключевым словам. Причем, платите исключительно за состоявшийся переход на ваш сайт потенциального клиента. Стоимость одного посетителя от 30 копеек.</p>

						<p><em>Контекстная поисковая реклама Яндекс, Google</em> является  самой быстрой и эффективной стратегией привлечение целевых клиентов на ваш ресурс. Клиентов, которые уже заинтересованы в вашем товаре/услуге/бизнесе.  Показы объявлений осуществляются  людям именно в тот момент, когда они наиболее заинтересованы в вашей услуге/товаре. В отличие от затратной по времени <a href="/Prodvizhenie_i_raskrutka_saytov.php">услуги продвижения сайта</a>, при которой результата придется ждать несколько недель, контекстной рекламой вы добьетесь высокой посещаемости вашего ресурса в считанные часы! Размещение рекламных объявлений в поисковых системах Яндекс, Google целесообразней использовать в купе с <a href="/poiskovaya_optimizaciya_saytov.php">поисковой оптимизацией сайта</a>.
						</p>


						<h2>Контекстная поисковая реклама Яндекс.Директ.</h2>

						<p>Яндекс.Директ – система обеспечивающая показ ваших объявлений в поисковике Яндекс и тематических запросу сайтах. Стоимость одного перехода заинтересованного клиента от 30 копеек, назначается самим рекламодателем и влияет на занимаемую вашим объявлением строку поиска и общую стоимость рекламной кампании. Реклама отображается, если пользователи интернета делают запрос на тему вашего сайта/услуг/товара.
						</p>

						<p>Преимущества Яндекс.Директ:</p>
						<ul type="DISC">
							<li>Запуск рекламы осуществляется в считанные часы — при грамотной настройке вы видите приток посетителей на сайт и принимаете звонки клиентов уже через 2-3 часа</li>
							<li>Охват целевой аудитории крупнейшей поисковой системы. Ежедневно более 30 млн. пользователей видит объявления поисковой системы Яндекс</li>
							<li>Оптимальная стоимость привлеченного потенциального клиента (от 30 копеек)</li>
							<li>Гибкая система управления рекламной компанией</li>
							<li>Показы объявлений осуществляются в выбранное время и заданных городах</li>

						</ul>

						<h2>Контекстная реклама AdWords Google.</h2>

						<p>AdWords Google – инструмент показа ваших объявлений контекстной рекламы в поисковике Google, аналог системы Яндекс.Директ. AdWords Google является крупнейшей рекламной сетью в Интернете по всему миру.  Оплата осуществляется только за переход клиента на ваш сайт, показы объявления бесплатны. Стоимость клика от 30 копеек и зависит от популярности вашего поискового запроса. В большинстве случаев конкуренция по русским ключевым словам в Google значительна меньше чем в Яндекс. Как следствие, с помощью контекстной рекламы Google вы привлекаете клиентов дешевле.</p>

						<p>Преимущества AdWords Google:</p>
						<ul type="DISC">
							<li>Нет минимальной суммы проведения рекламной компании</li>
							<li>Объявления контекстной рекламы настраиваются на различные страны и языки</li>
							<li>Ваша реклама показывается не только на поиске Google, но и на YouTube, Одноклассники.ру, Facebook и других крупных площадках</li>
							<li>Низкая конкуренция по русскоязычным ключевым словам</li>
							<li>Низкая стоимость целевого посетителя (от 30 копеек)</li>


						</ul>

						<h2>Услуги размещения контекстной рекламы от веб-студии «Light Dream».</h2>
						<p>Специалисты <a href="/web_studiya_Lightdream.php">веб-студии «Light Dream»</a> готовы взять на себя всю работу по <em>разработке и размещению контекстной рекламы</em> в Интернете.  Мы заинтересованы в развитии вашего сайта и бизнеса, увеличении продаж, минимизации расходов на привлечение клиентов.  Наш опыт рекламы в Яндекс и Google c 2005 года и десятки проведенных успешных кампаний позволяют сократить ваши затраты.</p>
						<p>Наши услуги включают в себя:</p>
						<ul type="DISC">
							<li>Создание продающих объявлений</li>
							<li>Подбор оптимальных ключевых слов</li>
							<li>Настройка и запуск рекламной компании</li>
							<li>Мониторинг конкурентов</li>
							<li>Анализ поведения посетителей, пришедших на сайт по рекламе</li>
							<li>Отчет об эффективности рекламной компании</li>

						</ul>
						<p><strong>Расценки на контекстную рекламу Яндекс и Google</strong> представлены на странице «<a href="/stoimost_sozdaniya_saytov.php">цены продвижения сайта</a>»</p>


					</div>
				</article>
			</div>
		</div>
	</section>
</div>
{% endblock %}