<!DOCTYPE HTML>
<html lang="en-gb" dir="ltr">
<head>

		<meta charset="utf-8"/>
		<meta name="keywords" content="Разработка, создание, продвижение, сайт, ТОП, размещение, контекстная, реклама, услуги, веб-студия «Light Dream»"/>
		<meta name="description" content="Веб-студия «Light Dream»  предоставляет услуги по разработке и созданию сайтов. Услуги продвижения сайтов в ТОП. Профессиональное размещение контекстной рекламы в интернете."/>
		<title>{% block title %}Разработка и создание сайтов в Ижевске | Продвижение сайтов в ТОП | Размещение контекстной рекламы | Веб-студия «Light Dream»{% endblock %}</title>
		{% include 'include/scripts.html.twig' %}
		{% include 'include/stylesheets.html.twig' %}
		{% block head_block %}{% endblock %}
</head>
<body id="page" class="page sidebar-a-right sidebar-b-right isblog " data-config='{"twitter":1,"plusone":1,"facebook":1,"style":"default"}'>
<div id="absolute">
	<!-- /mod_php version 1.0.0.Alpha1-J1.5 (c) www.fijiwebdesign.com -->    <!-- mod_php version 1.0.0.Alpha1-J1.5/ -->
</div>
<div id="block-main">
<div>
<div class="wrapper">
<header id="header">
	<div id="toolbar" class="grid-block">
		<div class="float-left">
			<time datetime="2012-04-26">Thursday, 26 April 2012</time>
			<div class="module   deepest">
				<ul class="menu menu-line">
					<li class="level1 item29">
						<a href="" class="level1"><span>Get A Free Quote</span></a>
					</li>
					<li class="level1 item30">
						<a href="" class="level1"><span>Get in Touch</span></a>
					</li>
					<li class="level1 item31"><a href="" class="level1"><span>Our Procedure</span></a>
					</li>
					<li class="level1 item32"><a href="" class="level1"><span>FAQs</span></a>
					</li>
					<li class="level1 item33">
						<a href="" class="level1"><span>SiteMap</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="headerbar" class="grid-block">
		<a id="logo" href="index.html"><img src="/images/stories/logo.png" style="margin-left: 360px;margin-top:-10px;"/></a>

		<div class="left">
			<div class="module   deepest">
				<a href=""><img style="margin-right: 15px;" src="/images/stories/icon_quotet.png"/></a><a href=""><img style="margin-right: 15px;" src="/images/stories/icon_portfoliot.png"/></a><a href=""><img src="/images/stories/icon_whyus.png" style="margin-right: 20px;"/></a>
			</div>
		</div>
	</div>
	<div id="menubar" class="grid-block">
		<nav id="menu">
			{% include 'include/top_menu.html.twig' %}
		</nav>
		<div id="menubar-r">
			<div></div>
		</div>
		<div id="search"><img style="margin-right: 10px; margin-left: 0px;" src="/images/stories/callus.png"/></div>
	</div>
</header>
{% block top_a %}
	<section id="top-a" class="grid-block">
		<div class="grid-box width70 grid-h">
			<div class="module mod-line style-line deepest">
				<div id="gallery-6-4f99809314f2c" class="wk-slideshow wk-slideshow-default" data-widgetkit="slideshow" data-options='{"style":"default","width":665,"height":"auto","autoplay":1,"order":"default","interval":5000,"duration":500,"index":0,"navigation":0,"buttons":1,"slices":20,"animated":"scroll","caption_animation_duration":500,"lightbox":0}'>
					<div>
						<ul class="slides">
							<li><img src="/cache/widgetkit/gallery/6/1-6f78693314.png" width="665" height="378" alt="1"/>
							</li>
							<li>
								<img src="data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///////wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw==" data-src="/cache/widgetkit/gallery/6/3-1912c41121.png" width="665" height="378" alt="3"/>
							</li>
							<li>
								<img src="data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///////wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw==" data-src="/cache/widgetkit/gallery/6/4-d49a17e553.png" width="665" height="378" alt="4"/>
							</li>
							<li>
								<img src="data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///////wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw==" data-src="/cache/widgetkit/gallery/6/5-7516c57d1c.png" width="665" height="378" alt="5"/>
							</li>
						</ul>
						<div class="next"></div>
						<div class="prev"></div>
						<div class="caption"></div>
						<ul class="captions">
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-box width30 grid-h">
			<div class="module mod-box mod-box-color badge-hot">
				<div class="deepest">
					<div class="badge badge-hot"></div>
					<h3 class="module-title"><span class="color">All</span> Sites Include</h3>
					<ul class="check">
						<li>Content Management System</li>
						<li>Unlimited Revisions</li>
						<li>Search Engines Submission</li>
						<li>Admin Panel Training</li>
						<li>100% Money Back Guarantee</li>
						<li>100% unique Design</li>
						<li>web 2.0 designs</li>
						<li>US Based customer support</li>
					</ul>
					<a href=""><br/><img src="/images/stories/get_quote.png" style="display: block; margin-left: auto; margin-right: auto; margin-top: -10px;"/></a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block top_b %}
	<section id="top-b" class="grid-block">
		<div class="grid-box width100 grid-h">
			<div class="module mod-line style-line deepest">
				<div id="slideset-3-4f99809317647" class="wk-slideset wk-slideset-default" data-widgetkit="slideset" data-options='{"style":"default","width":"auto","height":140,"effect":"zoom","index":0,"autoplay":1,"interval":5000,"items_per_set":5,"navigation":0,"buttons":1,"title":1,"duration":300}'>
					<div>
						<div class="sets">
							<ul class="set">
								<li>
									<article class="wk-content">
										<a href="index.html#"><img src="/images/stories/image2.png" width="115" height="115" alt="Icon 03"/></a>
									</article>
									<strong class="title">Unique Design</strong>
								</li>
								<li>
									<article class="wk-content">
										<a href="index.html#"><img src="/images/stories/image3.png" width="115" height="115" alt="Icon 02"/></a>
									</article>
									<strong class="title">web 2.0 designs</strong>
								</li>
								<li>
									<article class="wk-content">
										<a href="index.html#"><img src="/images/stories/image4.png" width="115" height="115" alt="Icon 04"/></a>
									</article>
									<strong class="title">Delivery on time</strong>
								</li>
								<li>
									<article class="wk-content">
										<a href="index.html#"><img src="/images/stories/image5.png" width="115" height="115" alt="Icon 02"/></a>
									</article>
									<strong class="title">CMS</strong>
								</li>
								<li>
									<article class="wk-content">
										<a href="index.html#"><img src="/images/stories/image10.png" width="115" height="115" alt="Icon 02"/></a>
									</article>
									<strong class="title">Dedicated project manager</strong>
								</li>
							</ul>
							<ul class="set">
								<li>
									<article class="wk-content">
										<a href="index.html#"><img src="data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///////wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw==" data-src="/images/stories/image7.png" width="115" height="115" alt="Icon 02"/></a>
									</article>
									<strong class="title">24/7 Support</strong>
								</li>
								<li>
									<article class="wk-content">
										<a href="index.html#"><img src="data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///////wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw==" data-src="/images/stories/image8.png" width="115" height="115" alt="Icon 02"/></a>
									</article>
									<strong class="title">Social Plugins</strong>
								</li>
								<li>
									<article class="wk-content">
										<a href="index.html#"><img src="data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///////wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw==" data-src="/images/stories/image9.png" width="115" height="115" alt="Icon 02"/></a>
									</article>
									<strong class="title">Secure Coding</strong>
								</li>
								<li>
									<article class="wk-content">
										<a href="index.html#"><img src="data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///////wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw==" data-src="/images/stories/image6.png" width="115" height="115" alt="Icon 02"/></a>
									</article>
									<strong class="title">Multimedia plugins</strong>
								</li>
								<li>
									<article class="wk-content">
										<a href="index.html#"><img src="data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///////wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw==" data-src="/images/stories/image1.png" width="115" height="115" alt="Icon 03"/></a>
									</article>
									<strong class="title">Money Back Guarantee</strong>
								</li>
							</ul>
						</div>
						<div class="next"></div>
						<div class="prev"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block top_c %}
	<section id="top-c">
		<div class="grid-block">
			<div class="grid-box width25 grid-h">
				<div class="module mod-box badge-hot">
					<div class="deepest">
						<div class="badge badge-hot"></div>
						<h3 class="module-title">
							<span class="title"><span class="color">Our</span> Clients </span><span class="subtitle"> We Work With Good People</span>
						</h3>        <img style="display: block; margin-top: 20px;" src="/images/stories/clientsp.png"/>
					</div>
				</div>
			</div>
			<div class="grid-box width45 grid-h">
				<div class="module mod-line style-line deepest">
					<a href=""><img src="/images/stories/portfolio_screen2.png" style="display: block; margin-left: -3px; margin-right: auto;"/></a>
				</div>
			</div>
			<div class="grid-box width30 grid-h">
				<div class="module mod-box style-box">
					<div class="deepest">
						<div id="accordion-10-4f99809318de3" class="wk-accordion wk-accordion-default clearfix" data-widgetkit="accordion" data-options='{"style":"default","collapseall":1,"matchheight":1,"index":0,"duration":500,"width":"auto","order":"default"}'>
							<h3 class="toggler">
								<span style="font-size:13px;color:#333"><img style="vertical-align: middle;margin-right:5px;" src="/images/icon1.png" width="23" height="20" alt="Money Back Guarantee" src="/index.html"/>Money Back Guarantee</span>
							</h3>

							<div>
								<div class="content wk-content clearfix">PLIMUN will provide you with 100% Money Back
									Guarantee if for any reason you dont like the first draft design. Just ask for it
									and We will process you a refund less any design fees.
								</div>
							</div>
							<h3 class="toggler">
								<span style="font-size:13px;color:#333"><img style="vertical-align: middle;margin-right:5px;" src="/images/icon2.png" width="22" height="21" alt="Unique & Custom Design" src="/index.html"/>Unique Web 2.0 Designs</span>
							</h3>

							<div>
								<div class="content wk-content clearfix">All our Designs are custom,unique and template
									free. We will also provide you with modern and professional web 2.0 websites.
								</div>
							</div>
							<h3 class="toggler">
								<span style="font-size:13px; color:#333"><img style="vertical-align: middle;margin-right:5px;" src="/images/icon3.png" width="23" height="20" alt="Unlimited revisions" src="/index.html"/>24/7 Customer Support</span>
							</h3>

							<div>
								<div class="content wk-content clearfix">True 24/7 US Based customer support</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
<div id="main" class="grid-block">
	{% block content %}
		{% include 'include/content.html.twig' %}
	{% endblock %}
	<!-- maininner end -->
	<aside id="sidebar-a" class="grid-box">
		{% block right_a %}
		{% block right_menu %}{% endblock %}
		<div class="grid-box width100 grid-v">
			<div class="module mod-box mod-box-color icon-bubble">
				<div class="deepest">
					<h3 class="module-title"><span class="icon icon-bubble"></span><span class="color">Fast</span> Quote
					</h3>

					<form name="ChronoContact_fastfront" id="ChronoContact_fastfront" method="post" action="" class="box style">
						<table border="0" width="100%" class="">
							<tr>
								<td valign="top">Your Name : <br> <input type="text" name="Name" size="30"></td>
							</tr>
							<tr>
								<td valign="top">Your Email : <br> <input type="text" name="Email" size="30"></td>
							</tr>
							<tr>
								<td valign="top">Phone :<br> <input type="text" name="Phone" size="30"></td>
							</tr>
							<tr>
								<td valign="top">Your Message :<br>
									<textarea rows="5" name="Message" cols="32"></textarea></td>
							</tr>
							<tr>
								<td valign="top">Security Code :<br>
									<input name="chrono_verification" style="vertical-align:top;" type="text" id="chrono_verification" class="inputbox" value=""/>
									&nbsp;&nbsp;<img src="/components/com_chronocontact/chrono_verification.php?imtype=0" alt=""/>
								</td>
							</tr>
							<tr>
								<td><br>

									<div align="center">
										<input type="submit" value="Get A Free Quote!" class="button"></div>
								</td>
							</tr>
						</table>
						<input type="hidden" name="0a4fdc6c8ca15996474ddd677d99f2bd" value="1"/>
						<input type="hidden" name="1cf1" value="2a7d20c31e8d4495f58ba0313860e6ab"/>
					</form>
				</div>
			</div>
		</div>
		{% endblock %}
	</aside>
</div>
<!-- main end -->
<section id="bottom-a" class="grid-block">
	<div class="grid-box width33 grid-h">
		<div class="module mod-line style-line deepest">
			<a href=""><img src="/images/stories/bottom_contact.png"/></a>
		</div>
	</div>
	<div class="grid-box width33 grid-h">
		<div class="module mod-line style-line deepest">
			<a href=""><img src="/images/stories/bottom_portfolio.png"/></a>
		</div>
	</div>
	<div class="grid-box width33 grid-h">
		<div class="module mod-line style-line deepest">
			<a href=""><img src="/images/stories/bottom_why.png"/></a>
		</div>
	</div>
</section>
</div>
</div>
</div>
<div id="block-bottom">
	<div class="wrapper">
		<section id="bottom-b" class="grid-block">
			<div class="grid-box width100 grid-h">
				<div class="module mod-line  deepest">
					<img style="display: block; margin-left: auto; margin-right: auto;" src="/images/stories/partners.png"/>
					<br/>
					<img style="display: block; margin-left: auto; margin-right: auto;" src="/images/stories/cross-line.png"/><br/>
					<table align="center" border="0" width="1000px">
						<tbody>
						<tr>
							<td valign="top"><strong><span style="padding-left: 30px;">Web Design</span></strong>
								<ul class="check">
									<li><a href="">Small
										Business Design</a>
									</li>
									<li>
										<a href="">Internet
											Applications</a>
									</li>
									<li><a href="">Custom
										Websites</a>
									</li>
									<li><a href="">Website
										Redesign</a>
									</li>
									<li><a href="">Website
										Maintenance</a>
									</li>
								</ul>
							</td>
							<td valign="top"><strong><span style="padding-left: 30px;">Web Design</span></strong>
								<ul class="check">
									<li><a href="">Back end
										CMS</a></li>
									<li><a href="">Flash
										Design</a>
									</li>
									<li><a href="">HTML
										Design</a>
									</li>
									<li><a href="">Corporate
										Design</a>
									</li>
									<li><a href="">Social
										Networks</a>
									</li>
								</ul>
							</td>
							<td valign="top">
								<strong><span style="padding-left: 30px;">Internet Marketing</span></strong>
								<ul class="check">
									<li><a href="">PPC
										Management</a>
									</li>
									<li><a href="">SEO</a></li>
									<li><a href="">Link
										Building Strategy</a>
									</li>
									<li><a href="">Social
										Media Marketing</a>
									</li>
									<li><a href="">Reputation
										Management</a>
									</li>
								</ul>
							</td>
							<td valign="top"><strong><span style="padding-left: 30px;">About</span></strong>
								<ul class="check">
									<li><a href="">Our Procedure</a>
									</li>
									<li><a href="">Portfolio</a></li>
									<li><a href="">FAQs</a></li>
									<li><a href="">Contact Us</a></li>
									<li><a href="">Free Quote</a></li>
								</ul>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</div>
</div>
<div id="block-footer">
	<div class="wrapper">
		<footer id="footer" class="grid-block">
			<a id="totop-scroller" href="index.html#page"></a>

			<div class="module   deepest">
				&nbsp;<a href="">Our Process</a> |
				<a href="">Request A Quote</a>
				|&nbsp;<a href="">Portfolio</a> |
				<a href="">FAQs</a> |
				<a href="">Contact Us</a> |
				<a href="">SiteMap</a> |
				<a href="">xml
					SiteMap</a><br/><a href=""> WebSite Design</a>&nbsp;|
				<a href="">ecommerce</a> |
				<a href="">Search Engine Optimization (SEO)</a><br/>Copyright
				© 2012 PLIMUN Web Design Company. All Rights
				Reserved.<br/><img src="/images/stories/logosmall.png"/><br/>
			</div>
		</footer>
	</div>
</div>
{% include 'include/scripts_bottom.html.twig' %}

</body>
</html>