<!DOCTYPE HTML>
<html lang="en-gb" dir="ltr">
<head>

	<meta charset="utf-8"/>
	{% block keywords %}
		<meta name="keywords" content="Разработка, создание, продвижение, сайт, ТОП, размещение, контекстная, реклама, услуги, веб-студия «Light Dream»"/>
	{% endblock %}
	{% block description %}
		<meta name="description" content="Веб-студия «Light Dream»  предоставляет услуги по разработке и созданию сайтов. Услуги продвижения сайтов в ТОП. Профессиональное размещение контекстной рекламы в интернете."/>
	{% endblock %}

	<title>{% block title %}Создание сайтов Ижевск | Продвижение сайтов в ТОП | Размещение контекстной рекламы | Веб-студия «Light Dream»{% endblock %}</title>
		{% include 'include/scripts.html.twig' %}
		{% include 'include/stylesheets.html.twig' %}
		{% block head_block %}{% endblock %}
</head>
<body id="page" class="page sidebar-a-right sidebar-b-right isblog " data-config='{"twitter":1,"plusone":1,"facebook":1,"style":"default"}'>
<div id="absolute">
	<!-- /mod_php version 1.0.0.Alpha1-J1.5 (c) www.fijiwebdesign.com -->    <!-- mod_php version 1.0.0.Alpha1-J1.5/ -->
</div>
<div id="block-main">
<div>
<div class="wrapper">
<header id="header">
	<div id="toolbar" class="grid-block">
		<div class="float-left">
			<time datetime="2012-09-08">Пятница, 14 Декабря 2012</time>
			<div class="module   deepest">
				<ul class="menu menu-line">
					<li class="level1 item29">
						<a href="/Zakaz_uslug.php" class="level1"><span>Заказать услуги</span></a>
					</li>
					<li class="level1 item30">
						<a href="/Nashi_kontakty.php" class="level1"><span>Наши контакты</span></a>
					</li>
					<li class="level1 item31"><a href="/Etapy_sozdaniya_sayta.php" class="level1"><span>Как мы работаем</span></a>
					</li>
					<li class="level1 item32"><a href="/faq.php" class="level1"><span>FAQs</span></a>
					</li>
					<li class="level1 item33">
						<a href="/sitemap.php" class="level1"><span>SiteMap</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="headerbar" class="grid-block">
		<a id="logo" href="index.html"><img src="/images/stories/logo.png" style="margin-left: 360px;margin-top:-10px;"/></a>

		<div class="left">
			<div class="module   deepest">
				<a href="/Zakaz_uslug.php"><img style="margin-right: 15px;" src="/images/stories/icon_quotet.png"/></a><a href="/Portfolio.php"><img style="margin-right: 15px;" src="/images/stories/icon_portfoliot.png"/></a><a href="/Preimuschestva_LightDream.php"><img src="/images/stories/icon_whyus.png" style="margin-right: 20px;"/></a>
			</div>
		</div>
	</div>
	<div id="menubar" class="grid-block">
		<nav id="menu">
			{% include 'include/top_menu.html.twig' %}
		</nav>
		<div id="menubar-r">
			<div></div>
		</div>
		<div id="search"><img style="margin-right: 10px; margin-left: 0px;" src="/images/stories/callus.png"/></div>
	</div>
</header>
{% block top_a %}
	<section id="top-a" class="grid-block">
		<div class="grid-box width70 grid-h">
			<div class="module mod-line style-line deepest">
				<div id="gallery-6-4f99809314f2c" class="wk-slideshow wk-slideshow-default" data-widgetkit="slideshow" data-options='{"style":"default","width":665,"height":"auto","autoplay":1,"order":"default","interval":5000,"duration":500,"index":0,"navigation":0,"buttons":1,"slices":20,"animated":"scroll","caption_animation_duration":500,"lightbox":0}'>
					<div>
						<ul class="slides">
							<li><img src="/cache/widgetkit/gallery/6/1-6f78693314.png" width="665" height="378" alt="1"/>
							</li>
							<li>
								<img src="data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///////wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw==" data-src="/cache/widgetkit/gallery/6/3-1912c41121.png" width="665" height="378" alt="3"/>
							</li>
							<li>
								<img src="data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///////wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw==" data-src="/cache/widgetkit/gallery/6/4-d49a17e553.png" width="665" height="378" alt="4"/>
							</li>
							<li>
								<img src="data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///////wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw==" data-src="/cache/widgetkit/gallery/6/5-7516c57d1c.png" width="665" height="378" alt="5"/>
							</li>
						</ul>
						<div class="next"></div>
						<div class="prev"></div>
						<div class="caption"></div>
						<ul class="captions">
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-box width30 grid-h">
			<div class="module mod-box mod-box-color badge-hot">
				<div class="deepest">
					<div class="badge badge-hot"></div>
					<h3 class="module-title"><span class="color">Все</span> наши проекты включают:</h3>
					<ul class="check">
						<li>Систему администрирования</li>
						<li>Поисковую оптимизацию</li>
						<li>Уникальный контент</li>
						<li>Обучение системой управления</li>
						<li>Привлекающий дизайн</li>
						<li>100% Возврат денег</li>
						<li>Профессиональную поддержку</li>
						<li>Личного менеджера</li>
					</ul>
					<a href="/Zakaz_uslug.php"><br/><img src="/images/stories/get_quote.png" style="display: block; margin-left: auto; margin-right: auto; margin-top: -10px;"/></a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block top_b %}
	<section id="top-b" class="grid-block">
		<div class="grid-box width100 grid-h">
			<div class="module mod-line style-line deepest">
				<div id="slideset-3-4f99809317647" class="wk-slideset wk-slideset-default" data-widgetkit="slideset" data-options='{"style":"default","width":"auto","height":140,"effect":"zoom","index":0,"autoplay":1,"interval":5000,"items_per_set":5,"navigation":0,"buttons":1,"title":1,"duration":300}'>
					<div>
						<div class="sets">
							<ul class="set">
								<li>
									<article class="wk-content">
										<a href="index.html#"><img src="/images/stories/image2.png" width="115" height="115" alt="Icon 03"/></a>
									</article>
									<strong class="title">Впечатляющий дизайн</strong>
								</li>
								<li>
									<article class="wk-content">
										<a href="index.html#"><img src="/images/stories/image3.png" width="115" height="115" alt="Icon 02"/></a>
									</article>
									<strong class="title">Высокое качество</strong>
								</li>
								<li>
									<article class="wk-content">
										<a href="index.html#"><img src="/images/stories/image4.png" width="115" height="115" alt="Icon 04"/></a>
									</article>
									<strong class="title">Кратчайшие сроки</strong>
								</li>
								<li>
									<article class="wk-content">
										<a href="index.html#"><img src="/images/stories/image5.png" width="115" height="115" alt="Icon 02"/></a>
									</article>
									<strong class="title">CMS</strong>
								</li>
								<li>
									<article class="wk-content">
										<a href="index.html#"><img src="/images/stories/image10.png" width="115" height="115" alt="Icon 02"/></a>
									</article>
									<strong class="title">Личный менеджер</strong>
								</li>
							</ul>
							<ul class="set">
								<li>
									<article class="wk-content">
										<a href="index.html#"><img src="data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///////wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw==" data-src="/images/stories/image7.png" width="115" height="115" alt="Icon 02"/></a>
									</article>
									<strong class="title">Поддержка 24/7</strong>
								</li>
								<li>
									<article class="wk-content">
										<a href="index.html#"><img src="data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///////wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw==" data-src="/images/stories/image8.png" width="115" height="115" alt="Icon 02"/></a>
									</article>
									<strong class="title">Плагины соцсетей</strong>
								</li>
								<li>
									<article class="wk-content">
										<a href="index.html#"><img src="data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///////wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw==" data-src="/images/stories/image9.png" width="115" height="115" alt="Icon 02"/></a>
									</article>
									<strong class="title">Кодирование</strong>
								</li>
								<li>
									<article class="wk-content">
										<a href="index.html#"><img src="data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///////wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw==" data-src="/images/stories/image6.png" width="115" height="115" alt="Icon 02"/></a>
									</article>
									<strong class="title">Мультимедиа</strong>
								</li>
								<li>
									<article class="wk-content">
										<a href="index.html#"><img src="data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///////wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw==" data-src="/images/stories/image1.png" width="115" height="115" alt="Icon 03"/></a>
									</article>
									<strong class="title">Гарантии</strong>
								</li>
							</ul>
						</div>
						<div class="next"></div>
						<div class="prev"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block top_c %}
	<section id="top-c">
		<div class="grid-block">
			<div class="grid-box width25 grid-h">
				<div class="module mod-box badge-hot">
					<div class="deepest">
						<div class="badge badge-hot"></div>
						<h3 class="module-title">
							<span class="title"><span class="color">Our</span> Clients </span><span class="subtitle"> We Work With Good People</span>
						</h3>        <img style="display: block; margin-top: 20px;" src="/images/stories/clientsp.png"/>
					</div>
				</div>
			</div>
			<div class="grid-box width45 grid-h">
				<div class="module mod-line style-line deepest">
					<a href="/Portfolio.php"><img src="/images/stories/portfolio_screen2.png" style="display: block; margin-left: -3px; margin-right: auto;"/></a>
				</div>
			</div>
			<div class="grid-box width30 grid-h">
				<div class="module mod-box style-box">
					<div class="deepest">
						<div id="accordion-10-4f99809318de3" class="wk-accordion wk-accordion-default clearfix" data-widgetkit="accordion" data-options='{"style":"default","collapseall":1,"matchheight":1,"index":0,"duration":500,"width":"auto","order":"default"}'>
							<h3 class="toggler">
								<span style="font-size:13px;color:#333"><img style="vertical-align: middle;margin-right:5px;" src="/images/icon1.png" width="23" height="20" alt="Money Back Guarantee" src="/index.html"/>Финансовые гарантии</span>
							</h3>

							<div>
								<div class="content wk-content clearfix">Веб-студия "Light Dream" гарантирует 100% возврат средств, в случае неудовлетворенности заказчика. Если Вас не устраивают результаты нашей работы, мы вернем вам 100% уже оплаченной вами суммы.
								</div>
							</div>
							<h3 class="toggler">
								<span style="font-size:13px;color:#333"><img style="vertical-align: middle;margin-right:5px;" src="/images/icon2.png" width="22" height="21" alt="Unique & Custom Design" src="/index.html"/>Безупречная репутация</span>
							</h3>

							<div>
								<div class="content wk-content clearfix">Мы дорожим нашей репутацией. Для нас важен, действительно, каждый клиент. Поэтому мы всегда делаем больше, чем обещаем!
								</div>
							</div>
							<h3 class="toggler">
								<span style="font-size:13px; color:#333"><img style="vertical-align: middle;margin-right:5px;" src="/images/icon3.png" width="23" height="20" alt="Unlimited revisions" src="/index.html"/>Поддержка в режиме 24/7</span>
							</h3>

							<div>
								<div class="content wk-content clearfix">Мы оказываем нашим клиентам круглосуточную поддержку 7 дней в неделю, 365 дней в году.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
<div id="main" class="grid-block">
	{% block content %}
		{% include 'include/content.html.twig' %}
	{% endblock %}
	<!-- maininner end -->
	<aside id="sidebar-a" class="grid-box">
		<div class="grid-box width100 grid-v">
			<div class="module mod-box mod-box-color icon-bubble">
				<div class="deepest">
					<h3 class="module-title"><span class="icon icon-bubble"></span><span class="color">Обратная</span> связь
					</h3>

					<form name="ChronoContact_fastfront" id="ChronoContact_fastfront" method="post" action="/feedback.php" class="box style">
						<table border="0" width="100%" class="">
							<tr>
								<td valign="top">ФИО: <br> <input type="text" name="feedback[name]" size="30"></td>
							</tr>
							<tr>
								<td valign="top">Email : <br> <input type="text" name="feedback[email]" size="30"></td>
							</tr>
							<tr>
								<td valign="top">Телефон :<br> <input type="text" name="feedback[phone]" size="30"></td>
							</tr>
							<tr>
								<td valign="top">Сообщение :<br>
									<textarea rows="5" name="feedback[message]" cols="32"></textarea></td>
							</tr>
							<tr>
								<td><br>
									<div align="center">
										<input type="submit" value="Отправить" class="button"></div>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</aside>
</div>
<!-- main end -->
<section id="bottom-a" class="grid-block">
	<div class="grid-box width33 grid-h">
		<div class="module mod-line style-line deepest">
			<a href="/Zakaz_uslug.php"><img src="/images/stories/bottom_contact.png"/></a>
		</div>
	</div>
	<div class="grid-box width33 grid-h">
		<div class="module mod-line style-line deepest">
			<a href="/Portfolio.php"><img src="/images/stories/bottom_portfolio.png"/></a>
		</div>
	</div>
	<div class="grid-box width33 grid-h">
		<div class="module mod-line style-line deepest">
			<a href="/Preimuschestva_LightDream.php"><img src="/images/stories/bottom_why.png"/></a>
		</div>
	</div>
</section>
</div>
</div>
</div>
<div id="block-bottom">
	<div class="wrapper">
		<section id="bottom-b" class="grid-block">
			<div class="grid-box width100 grid-h">
				<div class="module mod-line  deepest">
					<img style="display: block; margin-left: auto; margin-right: auto;" src="/images/stories/partners.png"/>
					<br/>
					<img style="display: block; margin-left: auto; margin-right: auto;" src="/images/stories/cross-line.png"/><br/>
					<table align="center" border="0" width="1000px">
						<tbody>
						<tr>
							<td valign="top"><strong><span style="padding-left: 30px;">Создание сайтов</span></strong>
								<ul class="check">
									<li><a href="/sozdanie_saytov.php">Разработка и создание сайтов</a>
									</li>
									<li><a href="/Sozdanie_sayta_vizitki.php">Создание сайта визитки</a>
									</li>
									<li>
										<a href="/Sozdanie_korporativnyh_saytov.php">Создание корпоративных сайтов</a>
									</li>
									<li><a href="/Zakazat_sozdanie_internet_magazina.php">Создание интернет магазина</a>
									</li>
									<li><a href="/Podderzhka_i_obsluzhivanie_saytov.php">Поддержка и обслуживание сайтов</a>
									</li>
									<li><a href="/stoimost_sozdaniya_saytov.php">Стоимость создания сайтов</a>
									</li>
								</ul>
							</td>
							<td valign="top"><strong><span style="padding-left: 30px;">Продвижение сайтов</span></strong>
								<ul class="check">
									<li><a href="/Prodvizhenie_saytov.php">Продвижение сайтов</a></li>
									<li><a href="/poiskovaya_optimizaciya_saytov.php">Поисковая оптимизация сайтов</a></li>
									<li><a href="/Prodvizhenie_i_raskrutka_saytov.php">Продвижение и раскрутка сайтов</a>
									</li>
									<li><a href="/Kontekstnaya_reklama.php">Контекстная реклама Яндекс, Google</a>
									</li>
									<li><a href="/seo_copywriting.php">SEO копирайтинг, написание текстов</a>
									</li>
                                    <li><a href="/nakrutka-prosmotrov-na-youtube.php">Продвижение и раскрутка видео на Youtube</a>
                                    </li>
									<li><a href="/stoimost_sozdaniya_saytov.php">Стоимость продвижения сайтов</a>
									</li>
								</ul>
							</td>
							<td valign="top">
								<strong><span style="padding-left: 30px;">Готовые сайты</span></strong>
								<ul class="check">
									<li><a href="/Gotovye_sayty.php">Готовые сайты от веб-студии «Light Dream»</a>
									</li>
									<li><a href="/sayty_za_15000.php">Шаблоны сайтов за 15000 руб</a>
									</li>
									<li><a href="/sayty_za_25000.php">Шаблоны сайтов за 25000 руб</a></li>
									<li><a href="/sayty_za_40000.php">Шаблоны сайтов за 40000 руб</a>
									</li>

								</ul>
							</td>
							<td valign="top"><strong><span style="padding-left: 30px;">Веб студия «Light Dream»</span></strong>
								<ul class="check">
									<li><a href="/web_studiya_Lightdream.php">О нас</a>
									</li>
									<li><a href="/Etapy_sozdaniya_sayta.php">Этапы создания сайта</a></li>
									<li><a href="/Portfolio.php">Портфолио</a></li>
									<li><a href="/faq.php">FAQs</a></li>
									<li><a href="/Nashi_kontakty.php">Наши контакты</a></li>
									<li><a href="/Preimuschestva_LightDream.php">Наши преимущества</a></li>

								</ul>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</div>
</div>
<div id="block-footer">
	<div class="wrapper">
		<footer id="footer" class="grid-block">
			<a id="totop-scroller" href="index.html#page"></a>

			<div class="module   deepest">
				&nbsp;<a href="/Etapy_sozdaniya_sayta.php">Как мы работаем</a> |
				<a href="/Zakaz_uslug.php">Заказ услуг</a>
				|&nbsp;<a href="/Portfolio.php">Портфолио</a> |
				<a href="/faq.php">FAQs</a> |
				<a href="/Nashi_kontakty.php">Наши контакты</a> |
				<a href="/sitemap.php">Карта сайта</a> |
				<a href="/sitemap.xml">xml
					SiteMap</a><br/><a href="/sozdanie_saytov.php"> Создание сайтов</a>&nbsp;|
				<a href="/Prodvizhenie_saytov.php">Продвижение сайтов</a> |
                <a href="/nakrutka-prosmotrov-na-youtube.php">Накрутка просмотров на Youtube</a> |
				<a href="/poiskovaya_optimizaciya_saytov.php">Поисковая оптимизация</a>
                <br/>г. Ижевск, ул. Баранова д.79, lightdreamstudio@gmail.com, тел. 89090646800.
                <br/>Copyright © 2012 Ижевск Веб-студия "Light Dream" - создание и продвижение сайтов. Все права защищены.<br/><img src="/images/stories/logosmall.png"/><br/>
			</div>
			{% include 'include/bottom.html.twig' %}
		</footer>
	</div>
</div>
{% include 'include/scripts_bottom.html.twig' %}

</body>
</html>