<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Quality Rhinestones Online Store - Wholesale of Affordable, Economic yet High Quality Rhinestones</title>
    <meta content="" name="description">
    <meta content="flat back rhinestones, hotfix rhinestones, pointed back rhinestones, crystal, loose beads, loose crystal, loose rhinestones, red rhinestones, yellow crystal, orange rhinestones, blue gems, green gemstones, emerald, wholesale rhinestones, crystal wholesales, gemstones wholesale, flat back gemstones, loose gemstones, foiled back rhinestones, quality rhinestones, quality gems, online store, rhinestones store, online crystal, affordable rhinestones, economic rhinestones" name="keywords">
    <meta content="INDEX,FOLLOW" name="robots">
    <link type="image/x-icon" href="/img/logo.gif" rel="icon">
    <link type="image/x-icon" href="/img/logo.gif" rel="shortcut icon">
    <!--[if lt IE 7]>
    <script type="text/javascript"/img/spacer.gif';//]]></script><![endif]-->
    <link media="all" href="http://s50499ff494d34.img.gostorego.com/809E82/cdn/media-v2/s5/04/99/ff/49/4d/34/css/5123d7852499d5b400935e6fdd044d66.css?r=2" type="text/css" rel="stylesheet">
    <link media="print" href="http://s50499ff494d34.img.gostorego.com/809E82/cdn/media-v2/s5/04/99/ff/49/4d/34/css/888cf0a1f2ad601453dd9017288ea78f.css?r=2" type="text/css" rel="stylesheet">
    <script src="/js/c7775fb608de6ef2e58a1b8c7d6ce851.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="resource://mytube/mytube.css">
    <script src="/js/mutationObserver.js" type="text/javascript"></script>
    <script src="/js/mytube.js" type="text/javascript"></script>
    <mytubeelement id="myTubeRelayElementToPage" event="preferencesUpdated" data="{&quot;bundle&quot;:{&quot;label_delimitor&quot;:&quot;:&quot;,&quot;percentage&quot;:&quot;%&quot;,&quot;smart_buffer&quot;:&quot;Smart Buffer&quot;,&quot;start_playing_when_buffered&quot;:&quot;Start playing when buffered&quot;,&quot;sound&quot;:&quot;Sound&quot;,&quot;desktop_notification&quot;:&quot;Desktop Notification&quot;,&quot;continuation_on_next_line&quot;:&quot;-&quot;,&quot;loop&quot;:&quot;Loop&quot;,&quot;only_notify&quot;:&quot;Only Notify&quot;,&quot;estimated_time&quot;:&quot;Estimated Time&quot;,&quot;global_preferences&quot;:&quot;Global Preferences&quot;,&quot;no_notification_supported_on_your_browser&quot;:&quot;No notification style supported on your browser version&quot;,&quot;video_buffered&quot;:&quot;Video Buffered&quot;,&quot;buffered&quot;:&quot;Buffered&quot;,&quot;hyphen&quot;:&quot;-&quot;,&quot;buffered_message&quot;:&quot;The video has been buffered as requested and is ready to play.&quot;,&quot;not_supported&quot;:&quot;Not Supported&quot;,&quot;on&quot;:&quot;On&quot;,&quot;off&quot;:&quot;Off&quot;,&quot;click_to_enable_for_this_site&quot;:&quot;Click to enable for this site&quot;,&quot;desktop_notification_denied&quot;:&quot;You have denied permission for desktop notification for this site&quot;,&quot;notification_status_delimitor&quot;:&quot;;&quot;,&quot;error&quot;:&quot;Error&quot;,&quot;adblock_interferance_message&quot;:&quot;Adblock (or similar extension) is known to interfere with SmartVideo. Please add this url to adblock whitelist.&quot;,&quot;calculating&quot;:&quot;Calculating&quot;,&quot;waiting&quot;:&quot;Waiting&quot;,&quot;will_start_buffering_when_initialized&quot;:&quot;Will start buffering when initialized&quot;,&quot;will_start_playing_when_initialized&quot;:&quot;Will start playing when initialized&quot;,&quot;completed&quot;:&quot;Completed&quot;,&quot;buffering_stalled&quot;:&quot;Buffering is stalled. Will stop.&quot;,&quot;stopped&quot;:&quot;Stopped&quot;,&quot;hr&quot;:&quot;Hr&quot;,&quot;min&quot;:&quot;Min&quot;,&quot;sec&quot;:&quot;Sec&quot;,&quot;any_moment&quot;:&quot;Any Moment&quot;},&quot;prefs&quot;:{&quot;desktopNotification&quot;:true,&quot;soundNotification&quot;:true,&quot;logLevel&quot;:0,&quot;enable&quot;:true,&quot;loop&quot;:false,&quot;hidePopup&quot;:false,&quot;autoPlay&quot;:false,&quot;autoBuffer&quot;:false,&quot;autoPlayOnBuffer&quot;:false,&quot;autoPlayOnBufferPercentage&quot;:42,&quot;autoPlayOnSmartBuffer&quot;:true,&quot;quality&quot;:&quot;highres&quot;,&quot;fshd&quot;:true,&quot;onlyNotification&quot;:false,&quot;enableFullScreen&quot;:true,&quot;saveBandwidth&quot;:false,&quot;hideAnnotations&quot;:true,&quot;turnOffPagedBuffering&quot;:false}}"></mytubeelement>
    <mytubeelement id="myTubeRelayElementToTab" event="relayPrefs" data="{&quot;loadBundle&quot;:true}"></mytubeelement>
    <!--[if lt IE 8]>
    <link rel="stylesheet" type="text/css" href="http://s50499ff494d34.img.gostorego.com/809E82/cdn/media-v2/s5/04/99/ff/49/4d/34/css/5d0ff9ed60586235a63ff3f7e623bf8d.css?r=2" media="all"/>
    <![endif]--><!--[if lt IE 7]>
    <script type="text/javascript" src="/js/6c11614af866f332d09710c5891c9aa1.js"></script><![endif]-->

    <script type="text/javascript">
        //&lt;![CDATA[
        Mage.Cookies.path = '/';
        Mage.Cookies.domain = '.www.drozd.com';
        //]]&gt;
    </script>

    <script type="text/javascript">
        //&lt;![CDATA[
        optionalZipCountries = ["HK", "IE", "MO", "PA"];
        //]]&gt;
    </script>

    <!--/{GOOGLE_ANALYTICS_ce849753ce75e1510a31c0c43ace226e}-->
    <script type="text/javascript">//&lt;![CDATA[
        var Translator = new Translate([]);
        //]]&gt;</script>
</head>
<body class=" cms-index-index cms-home">
<div class="wrapper">
<!--{PAGE_HTML_NOTICES_dd0d6ddf6f23300e835fdae827df6ff4}-->
<noscript>
    &lt;div class="global-notice noscript"&gt; &lt;div class="notice-inner"&gt; &lt;div class="notice-text"&gt; &lt;strong&gt;JavaScript
    seems to be disabled in your browser.&lt;/strong&gt;&lt;br /&gt; You must have JavaScript enabled in your browser to
    utilize the functionality of this website. &lt;/div&gt; &lt;/div&gt; &lt;/div&gt;
</noscript>

<!--/{PAGE_HTML_NOTICES_dd0d6ddf6f23300e835fdae827df6ff4}-->
<div class="page">
<div class="header-container">
    <div class="header">
        <div class="branding"><h1 class="logo">
                <a class="logo" title="" href="http://www.drozd.com/"><img alt="" src="/img/logo.png"></a>
            </h1>

            <p></p></div>
    </div>

    {% include 'include/top_menu.html.twig' %}
<div class="main col2-right-layout">
<div class="col-main">
<div class="std"><!--{MESSAGES_ae8cbde2baddb9675c295f25283e7db9}--><!--/{MESSAGES_ae8cbde2baddb9675c295f25283e7db9}-->
<p><span style="font-size: medium; color: #808080;">We sell high quality yet affordable rhinestones to Bling Deco lovers all over the World. We don't sell cheap and plastic-like rhinestones, because we know these are not the things you want to receive.</span>
</p>

<p><span style="font-size: medium; color: #808080;">All the rhinestones in store are inspected by myself, who is also an enthusiastic on Bling Deco. I only stock good rhinestones from good manufacturers. So, please be rest assured that you are buying rhinestones which are worth to pay for.</span>
</p>

<p><span style="font-size: medium;"><span style="color: #808080;">If you have any question about my rhinestones, please do not hesitate to drop me a message, I'm more than happy to discuss and share my experience with you.</span>&nbsp;</span>
</p>

<p><code></code></p>

<p>
    <code><a target="_blank" href="http://www.etsy.com/people/drozd/feedback"><img alt="" src="/img/happy1000customers.jpg"></a></code>
</p>

<p></p>

<p><code></code></p>

<p>
    <code><a target="_blank" href="http://www.drozd.com/rhinestones/flat-back-rhinestones.html"><img alt="" src="/img/ba_flatback.jpg"></a></code>
</p><code>
    <p>
        <a target="_blank" href="http://www.drozd.com/rhinestones/hot-fix-rhinestones.html"><img alt="" src="/img/ba_hotfix.jpg"></a>
    </p>

    <p>
        <a target="_blank" href="http://www.drozd.com/flat-back-pearls.html"><img alt="" src="/img/ba_pearls.jpg"></a>
    </p>

    <p>
        <a target="_blank" href="http://www.drozd.com/rhinestones/pointed-back-rhinestones.html"><img alt="" src="/img/ba_poined.jpg"></a>
    </p>

    <p>
        <a target="_blank" href="http://www.drozd.com/rhinestones/pointed-back-rhinestones.html"><img alt="" src="/img/ba_sewon.jpg"></a>
    </p>

    <p>
        <a target="_blank" href="http://www.drozd.com/cabochons.html"><img alt="" src="/img/ba_cabochon.jpg"></a>
    </p></code>

<p></p>

<p></p>

<div class="toolbar">
    <div class="sorter">
        <p class="view-mode">
            <label>View as:</label> <strong title="Grid" class="grid">Grid</strong>
            <a href="http://www.drozd.com/?mode=list" title="List" class="list">List</a>
        </p>

        <div class="sort-by">
            <label>Sort By</label> <select onchange="setLocation(this.value)">
                <option selected="selected" value="http://www.drozd.com/?dir=asc&amp;order=position">
                    Position
                </option>
                <option value="http://www.drozd.com/?dir=asc&amp;order=name">
                    Name
                </option>
                <option value="http://www.drozd.com/?dir=asc&amp;order=price">
                    Price
                </option>
                <option value="http://www.drozd.com/?dir=asc&amp;order=rhinestones_size">
                    Size
                </option>
            </select>
            <a href="http://www.drozd.com/?dir=desc&amp;order=position"><img class="v-middle" alt="Set Descending Direction" src="/img/sort_asc_arrow.gif"></a>
        </div>
    </div>

    <div class="pager">
        <p class="amount">
            Items 1-9 of 69 </p>

        <div class="limiter">
            <label>Show</label> <select onchange="setLocation(this.value)">
                <option selected="selected" value="http://www.drozd.com/?limit=9">
                    9
                </option>
                <option value="http://www.drozd.com/?limit=15">
                    15
                </option>
                <option value="http://www.drozd.com/?limit=30">
                    30
                </option>
            </select> per page
        </div>


    </div>
</div>
<div class="category-products">


<ul class="products-grid first odd">
    <li class="item first">
        <a class="product-image" title="Assorted Size Rhinestones - Clear Crystal 600pcs" href="http://www.drozd.com/rhinestones/assorted-size-rhinestones-flat-back.html">
            <img width="135" height="135" alt="Assorted Size Rhinestones - Clear Crystal 600pcs" src="/img/assorted_rhinestones.jpg">
        </a>

        <h2 class="product-name">
            <a title="Assorted Size Rhinestones - Clear Crystal 600pcs" href="http://www.drozd.com/rhinestones/assorted-size-rhinestones-flat-back.html">Assorted
                Size Rhinestones - Clear Crystal 600pcs</a></h2>


        <div class="price-box">
                                                                <span id="product-price-401" class="regular-price">
                                            <span class="price">$6.90</span>                                    </span>

        </div>

        <div class="actions">
            <button onclick="setLocation('http://www.drozd.com/checkout/cart/add/uenc/aHR0cDovL3d3dy5xcmhpbmVzdG9uZXMuY29tLw,,/product/401/')" class="button btn-cart" title="Add to Cart" type="button">
                <span><span>Add to Cart</span></span></button>
            <ul class="add-to-links">
                <li>
                    <a class="link-wishlist" href="https://drozd.gostorego.com/wishlist/index/add/product/401/?SID=">Add
                        to Wishlist</a></li>
                <li>
                    <a class="link-compare" href="http://www.drozd.com/catalog/product_compare/add/product/401/uenc/aHR0cDovL3d3dy5xcmhpbmVzdG9uZXMuY29tLw,,/">Add
                        to Compare</a></li>
            </ul>
        </div>
    </li>
    <li class="item">
        <a class="product-image" title="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestone-emerald-144-pcs-1-gross.html">
            <img width="135" height="135" alt="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" src="/img/emerald_flat_back_crystals_1.jpg">
        </a>

        <h2 class="product-name">
            <a title="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestone-emerald-144-pcs-1-gross.html">Flat
                Back Crystal Rhinestone Emerald 144 pcs 1 GROSS</a></h2>


        <div class="price-box">
                                                                <span id="product-price-298" class="regular-price">
                                            <span class="price">$2.90</span>                                    </span>

        </div>

        <div class="actions">
            <button onclick="setLocation('http://www.drozd.com/rhinestones/flat-back-crystal-rhinestone-emerald-144-pcs-1-gross.html?options=cart')" class="button btn-cart" title="Add to Cart" type="button">
                <span><span>Add to Cart</span></span></button>
            <ul class="add-to-links">
                <li>
                    <a class="link-wishlist" href="https://drozd.gostorego.com/wishlist/index/add/product/298/?SID=">Add
                        to Wishlist</a></li>
                <li>
                    <a class="link-compare" href="http://www.drozd.com/catalog/product_compare/add/product/298/uenc/aHR0cDovL3d3dy5xcmhpbmVzdG9uZXMuY29tLw,,/">Add
                        to Compare</a></li>
            </ul>
        </div>
    </li>
    <li class="item last">
        <a class="product-image" title="Flat Back Crystal Rhinestones Peridot 144 pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-peridot-144-pcs-1-gross.html">
            <img width="135" height="135" alt="Flat Back Crystal Rhinestones Peridot 144 pcs 1 GROSS" src="/img/peridot_light_green_crystal_flatback_1.jpg">
        </a>

        <h2 class="product-name">
            <a title="Flat Back Crystal Rhinestones Peridot 144 pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-peridot-144-pcs-1-gross.html">Flat
                Back Crystal Rhinestones Peridot 144 pcs 1 GROSS</a></h2>


        <div class="price-box">
                                                                <span id="product-price-292" class="regular-price">
                                            <span class="price">$2.90</span>                                    </span>

        </div>

        <div class="actions">
            <button onclick="setLocation('http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-peridot-144-pcs-1-gross.html?options=cart')" class="button btn-cart" title="Add to Cart" type="button">
                <span><span>Add to Cart</span></span></button>
            <ul class="add-to-links">
                <li>
                    <a class="link-wishlist" href="https://drozd.gostorego.com/wishlist/index/add/product/292/?SID=">Add
                        to Wishlist</a></li>
                <li>
                    <a class="link-compare" href="http://www.drozd.com/catalog/product_compare/add/product/292/uenc/aHR0cDovL3d3dy5xcmhpbmVzdG9uZXMuY29tLw,,/">Add
                        to Compare</a></li>
            </ul>
        </div>
    </li>
</ul>
<ul class="products-grid even">
    <li class="item first">
        <a class="product-image" title="Flat Back Crystal Rhinestones Citrine 144 pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-citrine-144-pcs-1-gross.html">
            <img width="135" height="135" alt="Flat Back Crystal Rhinestones Citrine 144 pcs 1 GROSS" src="/img/yellow_flat_back_rhinestones_1.jpg">
        </a>

        <h2 class="product-name">
            <a title="Flat Back Crystal Rhinestones Citrine 144 pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-citrine-144-pcs-1-gross.html">Flat
                Back Crystal Rhinestones Citrine 144 pcs 1 GROSS</a></h2>


        <div class="price-box">
                                                                <span id="product-price-286" class="regular-price">
                                            <span class="price">$2.90</span>                                    </span>

        </div>

        <div class="actions">
            <button onclick="setLocation('http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-citrine-144-pcs-1-gross.html?options=cart')" class="button btn-cart" title="Add to Cart" type="button">
                <span><span>Add to Cart</span></span></button>
            <ul class="add-to-links">
                <li>
                    <a class="link-wishlist" href="https://drozd.gostorego.com/wishlist/index/add/product/286/?SID=">Add
                        to Wishlist</a></li>
                <li>
                    <a class="link-compare" href="http://www.drozd.com/catalog/product_compare/add/product/286/uenc/aHR0cDovL3d3dy5xcmhpbmVzdG9uZXMuY29tLw,,/">Add
                        to Compare</a></li>
            </ul>
        </div>
    </li>
    <li class="item">
        <a class="product-image" title="Flat Back Crystal Rhinestones Topaz 144 pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-topaz-144-pcs-1-gross.html">
            <img width="135" height="135" alt="Flat Back Crystal Rhinestones Topaz 144 pcs 1 GROSS" src="/img/topaz_light_orange_flat_back_crystals_1.jpg">
        </a>

        <h2 class="product-name">
            <a title="Flat Back Crystal Rhinestones Topaz 144 pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-topaz-144-pcs-1-gross.html">Flat
                Back Crystal Rhinestones Topaz 144 pcs 1 GROSS</a></h2>


        <div class="price-box">
                                                                <span id="product-price-280" class="regular-price">
                                            <span class="price">$2.90</span>                                    </span>

        </div>

        <div class="actions">
            <button onclick="setLocation('http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-topaz-144-pcs-1-gross.html?options=cart')" class="button btn-cart" title="Add to Cart" type="button">
                <span><span>Add to Cart</span></span></button>
            <ul class="add-to-links">
                <li>
                    <a class="link-wishlist" href="https://drozd.gostorego.com/wishlist/index/add/product/280/?SID=">Add
                        to Wishlist</a></li>
                <li>
                    <a class="link-compare" href="http://www.drozd.com/catalog/product_compare/add/product/280/uenc/aHR0cDovL3d3dy5xcmhpbmVzdG9uZXMuY29tLw,,/">Add
                        to Compare</a></li>
            </ul>
        </div>
    </li>
    <li class="item last">
        <a class="product-image" title="Flat Back Crystal Rhinestones Hyacinth (Orange Red) 144 pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-hyacinth-orange-red-144-pcs-1-gross.html">
            <img width="135" height="135" alt="Flat Back Crystal Rhinestones Hyacinth (Orange Red) 144 pcs 1 GROSS" src="/img/hyacinth_flat_back_rhinestones_1.jpg">
        </a>

        <h2 class="product-name">
            <a title="Flat Back Crystal Rhinestones Hyacinth (Orange Red) 144 pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-hyacinth-orange-red-144-pcs-1-gross.html">Flat
                Back Crystal Rhinestones Hyacinth (Orange Red) 144 pcs 1 GROSS</a></h2>


        <div class="price-box">
                                                                <span id="product-price-274" class="regular-price">
                                            <span class="price">$2.90</span>                                    </span>

        </div>

        <div class="actions">
            <button onclick="setLocation('http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-hyacinth-orange-red-144-pcs-1-gross.html?options=cart')" class="button btn-cart" title="Add to Cart" type="button">
                <span><span>Add to Cart</span></span></button>
            <ul class="add-to-links">
                <li>
                    <a class="link-wishlist" href="https://drozd.gostorego.com/wishlist/index/add/product/274/?SID=">Add
                        to Wishlist</a></li>
                <li>
                    <a class="link-compare" href="http://www.drozd.com/catalog/product_compare/add/product/274/uenc/aHR0cDovL3d3dy5xcmhpbmVzdG9uZXMuY29tLw,,/">Add
                        to Compare</a></li>
            </ul>
        </div>
    </li>
</ul>
<ul class="products-grid last odd">
    <li class="item first">
        <a class="product-image" title="Flat Back Crystal Rhinestones SIAM 144pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-siam-144pcs-1-gross.html">
            <img width="135" height="135" alt="Flat Back Crystal Rhinestones SIAM 144pcs 1 GROSS" src="/img/light_siam_flatback_rhinestones_1.jpg">
        </a>

        <h2 class="product-name">
            <a title="Flat Back Crystal Rhinestones SIAM 144pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-siam-144pcs-1-gross.html">Flat
                Back Crystal Rhinestones SIAM 144pcs 1 GROSS</a></h2>


        <div class="price-box">
                                                                <span id="product-price-268" class="regular-price">
                                            <span class="price">$2.90</span>                                    </span>

        </div>

        <div class="actions">
            <button onclick="setLocation('http://www.drozd.com/rhinestones/flat-back-crystal-rhinestones-siam-144pcs-1-gross.html?options=cart')" class="button btn-cart" title="Add to Cart" type="button">
                <span><span>Add to Cart</span></span></button>
            <ul class="add-to-links">
                <li>
                    <a class="link-wishlist" href="https://drozd.gostorego.com/wishlist/index/add/product/268/?SID=">Add
                        to Wishlist</a></li>
                <li>
                    <a class="link-compare" href="http://www.drozd.com/catalog/product_compare/add/product/268/uenc/aHR0cDovL3d3dy5xcmhpbmVzdG9uZXMuY29tLw,,/">Add
                        to Compare</a></li>
            </ul>
        </div>
    </li>
    <li class="item">
        <a class="product-image" title="Flat Back Crystal Rhinestone FUCHSIA 144 Pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestone-fuchsia-144-pcs-1-gross.html">
            <img width="135" height="135" alt="Flat Back Crystal Rhinestone FUCHSIA 144 Pcs 1 GROSS" src="/img/fuchsia_rhinestones_crystals_1.jpg">
        </a>

        <h2 class="product-name">
            <a title="Flat Back Crystal Rhinestone FUCHSIA 144 Pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestone-fuchsia-144-pcs-1-gross.html">Flat
                Back Crystal Rhinestone FUCHSIA 144 Pcs 1 GROSS</a></h2>


        <div class="price-box">
                                                                <span id="product-price-262" class="regular-price">
                                            <span class="price">$3.90</span>                                    </span>

        </div>

        <div class="actions">
            <button onclick="setLocation('http://www.drozd.com/rhinestones/flat-back-crystal-rhinestone-fuchsia-144-pcs-1-gross.html?options=cart')" class="button btn-cart" title="Add to Cart" type="button">
                <span><span>Add to Cart</span></span></button>
            <ul class="add-to-links">
                <li>
                    <a class="link-wishlist" href="https://drozd.gostorego.com/wishlist/index/add/product/262/?SID=">Add
                        to Wishlist</a></li>
                <li>
                    <a class="link-compare" href="http://www.drozd.com/catalog/product_compare/add/product/262/uenc/aHR0cDovL3d3dy5xcmhpbmVzdG9uZXMuY29tLw,,/">Add
                        to Compare</a></li>
            </ul>
        </div>
    </li>
    <li class="item last">
        <a class="product-image" title="Flat Back Crystal Rhinestone Rose 144 pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestone-rose-144-pcs-1-gross.html">
            <img width="135" height="135" alt="Flat Back Crystal Rhinestone Rose 144 pcs 1 GROSS" src="/img/rose_flatback_rhinestones_1.jpg">
        </a>

        <h2 class="product-name">
            <a title="Flat Back Crystal Rhinestone Rose 144 pcs 1 GROSS" href="http://www.drozd.com/rhinestones/flat-back-crystal-rhinestone-rose-144-pcs-1-gross.html">Flat
                Back Crystal Rhinestone Rose 144 pcs 1 GROSS</a></h2>


        <div class="price-box">
                                                                <span id="product-price-256" class="regular-price">
                                            <span class="price">$3.90</span>                                    </span>

        </div>

        <div class="actions">
            <button onclick="setLocation('http://www.drozd.com/rhinestones/flat-back-crystal-rhinestone-rose-144-pcs-1-gross.html?options=cart')" class="button btn-cart" title="Add to Cart" type="button">
                <span><span>Add to Cart</span></span></button>
            <ul class="add-to-links">
                <li>
                    <a class="link-wishlist" href="https://drozd.gostorego.com/wishlist/index/add/product/256/?SID=">Add
                        to Wishlist</a></li>
                <li>
                    <a class="link-compare" href="http://www.drozd.com/catalog/product_compare/add/product/256/uenc/aHR0cDovL3d3dy5xcmhpbmVzdG9uZXMuY29tLw,,/">Add
                        to Compare</a></li>
            </ul>
        </div>
    </li>
</ul>
<script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd', 'even', 'first', 'last'])</script>
</div>
<div class="toolbar-bottom">
    <div class="toolbar">
        <div class="sorter">
            <p class="view-mode">
                <label>View as:</label> <strong title="Grid" class="grid">Grid</strong>
                <a href="http://www.drozd.com/?mode=list" title="List" class="list">List</a>
            </p>

            <div class="sort-by">
                <label>Sort By</label> <select onchange="setLocation(this.value)">
                    <option selected="selected" value="http://www.drozd.com/?dir=asc&amp;order=position">
                        Position
                    </option>
                    <option value="http://www.drozd.com/?dir=asc&amp;order=name">
                        Name
                    </option>
                    <option value="http://www.drozd.com/?dir=asc&amp;order=price">
                        Price
                    </option>
                    <option value="http://www.drozd.com/?dir=asc&amp;order=rhinestones_size">
                        Size
                    </option>
                </select>
                <a href="http://www.drozd.com/?dir=desc&amp;order=position"><img class="v-middle" alt="Set Descending Direction" src="/img/sort_asc_arrow.gif"></a>
            </div>
        </div>

        <div class="pager">
            <p class="amount">
                Items 1-9 of 69 </p>

            <div class="limiter">
                <label>Show</label> <select onchange="setLocation(this.value)">
                    <option selected="selected" value="http://www.drozd.com/?limit=9">
                        9
                    </option>
                    <option value="http://www.drozd.com/?limit=15">
                        15
                    </option>
                    <option value="http://www.drozd.com/?limit=30">
                        30
                    </option>
                </select> per page
            </div>


        </div>
    </div>
</div>
<p></p></div>
</div>
<div class="col-right sidebar"><p>
        <a target="_blank" href="http://www.facebook.com/drozd" title="LIKE Us on Facebook!"><img width="30" height="30" alt="" src="/img/facebook.png"></a><a target="_blank" href="http://statigr.am/tag/drozd" title="Instagram #drozd">
            <img width="30" height="30" alt="" src="/img/instragram.png"></a><a target="_blank" href="http://www.youtube.com" title="drozd on Youtube">
            <img width="30" height="30" alt="" src="/img/twitter.png">
            <img width="30" height="30" alt="" src="/img/youtube.png"></a><a target="_blank" href="http://www.etsy.com/shop/drozd/" title="drozd on Etsy">
            <img width="30" height="30" alt="" src="/img/etsy.png"></a><a target="_blank" href="https://drozd.gostorego.com/contacts/" title="Contact Us">
            <img width="30" height="30" alt="" src="/img/mail.png"> </a></p>

    <p>&nbsp;</p>

    <p>
        <a target="_self" href="http://www.drozd.com/rhinestones/flat-back-rhinestones/wholesale-1440-pieces-rhinestones.html"><img alt="Flat Back Rhinestones" src="/img/btn_flatback.jpg"></a><br><a target="_self" href="http://www.drozd.com/rhinestones/hot-fix-rhinestones.html"><img alt="HotFix Rhinestones" src="/img/btn_hotfix.jpg"></a><br><a target="_self" href="http://www.drozd.com/rhinestones/pointed-back-rhinestones.html"><img alt="Pointed Back Rhinestones" src="/img/btn_pointed.jpg"></a><br><a target="_self" href="http://www.drozd.com/flat-back-pearls.html"><img alt="Pearls" src="/img/btn_pearls.jpg"></a><br><a target="_self" href="http://www.drozd.com/rhinestones/fancy-stones.html"><img alt="Fancy Stones" src="/img/btn_fancystones.jpg"></a><br><a target="_self" href="http://www.drozd.com/how-to/"><img alt="Tutorials" src="/img/btn_tutorials.jpg"></a>
    </p>

    <p>&nbsp;</p><!--{COMPARELIST_SIDEBAR_c9dab58f3ab367379a1df51ecdd1c015}-->
    <div class="block block-list block-compare">
        <div class="block-title">
            <strong><span>Compare Products                    </span></strong>
        </div>
        <div class="block-content">
            <p class="empty">You have no items to compare.</p>
        </div>
    </div>
</div>
</div>
<div class="footer-container">
    <div class="footer">
        <script type="text/javascript">
            //&lt;![CDATA[
            var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
            //]]&gt;
        </script>
        <ul class="links">
            <li class="first">
                <a title="Site Map" href="http://www.drozd.com/catalog/seo_sitemap/category/">Site Map</a></li>
            <li>
                <a title="Search Terms" href="http://www.drozd.com/catalogsearch/term/popular/">Search Terms</a>
            </li>
            <li>
                <a title="Advanced Search" href="http://www.drozd.com/catalogsearch/advanced/">Advanced Search</a></li>
            <li><a title="Orders and Returns" href="https://drozd.gostorego.com/sales/guest/form/?SID=">Orders and
                    Returns</a></li>
            <li class=" last">
                <a title="Contact Us" href="https://drozd.gostorego.com/contacts/?SID=">Contact Us</a></li>
        </ul>
        <ul class="links">
            <li>
                <span class="widget widget-cms-link"><a title="About  Us - where Q stands for Quality" href="http://www.drozd.com/about-us-drozd"><span>About Us</span></a></span>
            </li>
            <li class="last">
                <span class="widget widget-cms-link"><a title="Customer Service" href="http://www.drozd.com/customer-service"><span>Customer Service</span></a></span>
            </li>
        </ul>
    </div>
</div>
<address class="copyright">&copy; 2010-2013 drozd.com. All Rights Reserved.</address>
<!--{PAGE_HTML_COOKIE_NOTICES_ed859dcf7a97150fc2b6fb3e9cd9ecf4}-->
<!--/{PAGE_HTML_COOKIE_NOTICES_ed859dcf7a97150fc2b6fb3e9cd9ecf4}-->    </div>
</div>


</body>
</html>