{% set a5 = 'active current' %}
{% extends "layout.html.twig" %}
{% block title %} Контакты Веб студии "Light Dream". {% endblock %}

{% block keywords %}
<meta name="Keywords"
	  content="Контакты, адрес, веб, студия, Light, Dream.">
{% endblock %}
{% block description %}
<meta name="Description"
	  content="Контакты веб-студии «Light Dream», форма для связи.">
{% endblock %}

{% block top_a %}{% endblock %}{% block top_b %}{% endblock %}{% block top_c %}{% endblock %}
{% block content %}
<div style="min-height: 2160px;" id="maininner" class="grid-box">
	<section id="content">
		<div class="grid-block">
			<div id="system">
				<article class="item">
					<header>
						<h1 class="title">Контакты Веб студии "Light Dream"</h1>
					</header>
					<div class="content clearfix">
						<h2>Наши адреса.</h2>

						<p> <strong>Адрес:</strong> 426006, Россия, Ижевск, ул. Баранова, д.79, офис со стороны улицы.</p>
                        <p> <strong>Часы работы:</strong> с 9:00 до 19:00</p>
                        <p> <strong>Сайт:</strong> http://lightdreamstudio.ru</p>
                        <p> <strong>Телефон:</strong> 89090646800</p>
                        <p> <strong>E-mail:</strong> lightdreamstudio@gmail.com  </p>
                        <p> <strong>ICQ:</strong> 465-187-598</p>



					</div>
				</article>
			</div>
		</div>
	</section>
</div>
{% endblock %}