{% set a5 = 'active current' %}
{% set b4 = 'active current' %}
{% extends "web_studiya_Lightdream.html.twig" %}
{% block title %} Контакты Веб студии "Light Dream". {% endblock %}
{% block head_block %}
{% if entry %}
{% if entry.strtags %}
<meta name="Keywords"
	  content="Контакты, адрес, веб, студия, Light, Dream.">{% endif %}
{% if entry.excerpt %}
<meta name="Description"
	  content="Контакты веб-студии «Light Dream», форма для связи.">{% endif %}
{% endif %}
{% endblock %}
{% block top_a %}{% endblock %}{% block top_b %}{% endblock %}{% block top_c %}{% endblock %}
{% block content %}
<div style="min-height: 2160px;" id="maininner" class="grid-box">
	<section id="content">
		<div class="grid-block">
			<div id="system">
				<article class="item">
					<header>
						<h1 class="title">Контакты Веб студии "Light Dream"</h1>
					</header>
					<div class="content clearfix">
						<h2>Наши адреса.</h2>

						<p> дома. </p>

						<p>

					</div>
				</article>
			</div>
		</div>
	</section>
</div>
{% endblock %}