{% set a2 = 'active current' %}
{% extends "layout.html.twig" %}
{% block title %} Поддержка сайтов | Обслуживание сайтов. {% endblock %}

{% block keywords %}
<meta name="Keywords"
	  content="поддержка, обслуживание, сайт, услуга, работа, веб-студия «Light Dream».">
{% endblock %}
{% block description %}
<meta name="Description"
	  content="Комплекс работ по обслуживанию и поддержке вашего сайта. Услуга поддержки и обслуживания сайта от веб-студии «Light Dream»">
{% endblock %}

{% block top_a %}{% endblock %}{% block top_b %}{% endblock %}{% block top_c %}{% endblock %}
{% block content %}
<div style="min-height: 2160px;" id="maininner" class="grid-box">
	<section id="content">
		<div class="grid-block">
			<div id="system">
				<article class="item">
					<header>
						<h1 class="title">Поддержка и обслуживание сайтов</h1>
					</header>
					<div class="content clearfix">
						<h2>Для чего необходима услуга поддержки и обслуживания сайта?</h2>

						<p><strong>Поддержка и обслуживание сайта</strong>
							- комплекс работ, направленных на поддержание вашего ресурса в полной работоспособности. Включает в себя: продление регистрации домена и хостинга, быстрое устранение ошибок, размещение текстовой и графической информации, антивирусная безопасность, резервное копирование и многое другое. </p>

						<p>Для регулярного обновления информации на вашем проекте и поддержание его в рабочем виде, необходим контроль профессионалов - таких, как специалисты веб студии «Light Dream». Мы готовы обеспечить качественную поддержку и обслуживание Вашего представительства в интернете. Грамотное администрирование и комплексное обслуживание сайта обеспечат постоянный интерес существующих клиентов и привлекут новых посетителей. Поддержка и обслуживание сайта обеспечит бесперебойную работу проекту, своевременное внесение изменений по структуре и дизайну, исправление ошибок. Профессиональный контроль наших специалистов позволит отслеживать состояние проекта и предотвращать любые проблемы на ранних этапах.			</p>

						<p>В современной глобальной сети выдержать конкуренцию в состоянии только тот, кто делает ставку на <a href="/Prodvizhenie_i_raskrutka_saytov.php">продвижение и раскрутку сайта</a>, следит за работой своего ресурса и регулярно добавляет интересную информацию!</p>


						<h2>Комплекс работ по обслуживанию и поддержке вашего сайта.</h2>

						<p><a href="/web_studiya_Lightdream.php">Веб-студия «Light Dream»</a> обладает  всеми необходимыми инструментами для полноценного обслуживания и поддержки сайтов. Мы располагаем возможностью оперативно наладить работу ресурса, произвести текстовое и графическое обновление, обеспечить защиту от попыток взлома. Поручив поддержку сайта нам, заказчик получает полную гарантию бесперебойной работы.
						</p>

						<p>Наши специалисты осуществляют следующий комплекс работ:</p>
						<ul type="DISC">
							<li>мониторинг работоспособности ресурса в сети</li>
							<li>продление регистрации домена и хостинга</li>
							<li>создание резервной копии, восстановление проекта</li>
							<li>управление корпоративным почтовым сервисом</li>
							<li>оперативное устранение ошибок в работе</li>
							<li>регулярный мониторинг на вирусы</li>
							<li>правка дизайна и обработка графических материалов</li>
							<li><a href="/poiskovaya_optimizaciya_saytov.php">оптимизация</a> под поисковые системы текстов</li>
							<li>по желанию заказчика осуществляем <a href="/seo_copywriting.php">написание текстов</a> страниц</li>
							<li>обновление колонки новостей</li>
							<li>мониторинг посещаемости ресурса</li>

						</ul>

						<h2>Услуга поддержки и обслуживания сайта от веб-студии «Light Dream».</h2>

						<p>Следует уточнить, что поддержка и обслуживание сайтов – это дело профессионалов. Именно поэтому не стоит на этом экономить и пытаться администрировать проект самостоятельно. Сумма, которая тратится на ежемесячную поддержку проекта, не идет ни в какое сравнение с вероятными затратами по причине технических сбоев и несвоевременной профилактики.</p>
						<p>Веб-студия «Light Dream» предоставляет <em>услуги поддержки и обслуживания сайта</em> по следующим тарифным планам. Тарифы, приведенные в таблице, никак не ограничивают ваши стремления и возможности по развитию сайта. В случае возникновения потребности провести дополнительные работы, заключается доп. соглашение, которое прилагается к  договору поддержки сайта.
						</p>
						<table width="100%" border="0" class="zebra">
							<tbody>
							<tr>
								<td>Услуга/Тариф</td>
								<td>Лайт</td>
								<td>Базовый</td>
								<td>Макси</td>
							</tr>
							<tr>
								<td>Ежедневное отслеживание работоспособности</td>
								<td>-</td>
								<td>-</td>
								<td>+</td>
							</tr>

							<tr>
								<td>Количество резервных копий портала в месяц</td>
								<td>1</td>
								<td>1</td>
								<td>2</td>
							</tr>

							<tr>
								<td>Мониторинг наличия вирусов</td>
								<td>+</td>
								<td>+</td>
								<td>+</td>
							</tr>
							<tr>
								<td>Продление регистрации домена и хостинга</td>
								<td>+</td>
								<td>+</td>
								<td>+</td>
							</tr>
							<tr>
								<td>Размещение и корректировка текстовой информации</td>
								<td>+</td>
								<td>+</td>
								<td>+</td>
							</tr>
							<tr>
								<td>Изменение навигации по сайту</td>
								<td>-</td>
								<td>-</td>
								<td>+</td>
							</tr>
							<tr>
								<td>Настройка почты/добавление новых ящиков</td>
								<td>-</td>
								<td>+</td>
								<td>+</td>
							</tr>
							<tr>
								<td>Работы по программирование, правка кода сайта</td>
								<td>-</td>
								<td>-</td>
								<td>+</td>
							</tr>
							<tr>
								<td>Работы по оформлению и дизайну сайта</td>
								<td>-</td>
								<td>-</td>
								<td>+</td>
							</tr>
							<tr>
								<td>Консультация по работе и продвижению сайта</td>
								<td>-</td>
								<td>+</td>
								<td>+</td>
							</tr>
							<tr>
								<td>Срок внесения изменений, часы</td>
								<td>48</td>
								<td>24</td>
								<td>10</td>
							</tr>
							<tr>
								<td>Частота обращения в месяц</td>
								<td>1</td>
								<td>3</td>
								<td>4</td>
							</tr>
							<tr>
								<td>Работы по сайту специалиста. Часов в месяц.</td>
								<td>2</td>
								<td>5</td>
								<td>10</td>
							</tr>
							<tr>
								<td><strong>Стоимость поддержки и обслуживания сайта. Руб. в мес.</strong></td>
								<td>1500</td>
								<td>3000</td>
								<td>5000</td>
							</tr>

							</tbody>
						</table>
						<p>Если вы затрудняетесь подобрать наиболее подходящий тарифный план поддержки и обслуживания сайта, <a href="/Nashi_kontakty.php">свяжитесь с нами</a>, и мы, проанализировав ваши потребности и проект, сможем предложить оптимальный тариф.</p>
					</div>
				</article>
			</div>
		</div>
	</section>
</div>
{% endblock %}