{% set a4 = 'active current' %}
{% extends "layout.html.twig" %}
{% block title %} Шаблоны сайтов за 25000 руб. {% endblock %}
{% block head_block %}
{% if entry %}
{% if entry.strtags %}
<meta name="Keywords"
	  content="Шаблон, сайт, готовый 25000 руб.">{% endif %}
{% if entry.excerpt %}
<meta name="Description"
	  content="Шаблоны сайтов за 25000 руб">{% endif %}
{% endif %}
{% endblock %}
{% block top_a %}{% endblock %}{% block top_b %}{% endblock %}{% block top_c %}{% endblock %}
{% block content %}
<div style="min-height: 2160px;" id="maininner" class="grid-box">
	<section id="content">
		<div class="grid-block">
			<div id="system">
				<article class="item">
					<header>
						<h1 class="title">Шаблоны сайтов за 25000 руб</h1>
					</header>
					<div class="content clearfix">
						<h2>Примеры готовых сайтов за 25000 руб.</h2>

						<p> Страница в разработке. </p>

						<p>

					</div>
				</article>
			</div>
		</div>
	</section>
</div>
{% endblock %}