{% set a2 = 'active current' %}
{% set b1 = 'active current' %}
{% extends "sozdanie_saytov.html.twig" %}
{% block title %} Создание сайта визитки | Заказать сайт визиткy. {% endblock %}
{% block head_block %}
{% if entry %}
{% if entry.strtags %}
<meta name="Keywords"
	  content="создание, сайт-визитка, сайт, визитка, заказать, услуги, веб-студия NNN, стоимость.">{% endif %}
{% if entry.excerpt %}
<meta name="Description"
	  content="Услуги создания сайта визитки от веб-студии «Light Dream» в Ижевске и по России. У нас вы можете заказать сайт визитку.">{% endif %}
{% endif %}
{% endblock %}
{% block top_a %}{% endblock %}{% block top_b %}{% endblock %}{% block top_c %}{% endblock %}
{% block content %}
<div style="min-height: 2160px;" id="maininner" class="grid-box">
	<section id="content">
		<div class="grid-block">
			<div id="system">
				<article class="item">
					<header>
						<h1 class="title">Создание сайта визитки</h1>
					</header>
					<div class="content clearfix">
						<h2>Начни завоевывать интернет-вершины с сайта визитки.</h2>

						<p><strong>Сайт-визитка</strong>
							- это небольшой web-ресурс, на котором фирма/компания/частное лицо размещают основную информацию о себе и своей деятельности. Включает обычно небольшое количество страниц, от 3 до 5. Как правило, необходимость в создание сайта визитки возникает у новых фирм, индивидуальных предпринимателей, частных лиц или небольших компаний. Основное назначение подобного IT-проекта – дать пользователям интернета информацию о деятельности фирмы, оказываемых ею услугах, предоставить контакты для связи.  Основные преимущества - низкая стоимость и кратчайшие сроки создания сайта визитки, от 3 дней! При минимальных затратах вы получаете колоссальные перспективы выхода на обширный интернет-рынок.  Миллионы людей уже жаждут вашего предложения услуг! </p>


						<h2>Услуги создания сайта визитки от веб-студии «Light Dream».</h2>

						<p>Cпециалисты нашей веб-студии обладают большим опытом создания различных сайтов визиток. С примерами разработанных нами проектов вы можете ознакомиться в разделе портфолио.
						</p>

						<p>Наши услуги включают в себя:</p>
						<ul type="DISC">
						<li>Разработка и создания дизайна сайта визитки (типовой или эксклюзивный)</li>
						<li>Создание и наполнение сайта уникальными, оптимизированными под поисковые системы текстами</li>
						<li>Оптимизация сайта визитки под поисковые системы</li>
						<li>Подбор и регистрация доменного имени</li>
						<li>Размещение (хостинг) сайта в Интернет</li>
						<li>Предоставление системы управлением сайта</li>
						<li>Регистрация вашего проекта в основных поисковых системах: Google, Яндекс, Апорт, Rambler, Mail.ru</li>
						<li>Установка счетчика посещений и статистики</li>
						</ul>

						<p>Мы уверены, что услуги создания сайта визитки от Веб-студии «Light Dream» станут эффективным вложением в Ваш бизнес.</p>

						<h2>Заказать сайт визитку.</h2>

						<p><strong>Заказать сайт визитку</strong> Вы можете следующим образом:
						</p>

						<ul type="DISC">
							<li>По телефону: <strong>+79090646800</strong></li>
							<li>Через форму обратной связи на странице контакты</li>
							<li>•	Написать письмо на наш почтовый ящик NNN@mail.ru. с пометкой «Заказать сайт визитку» </li>

						</ul>
						<p>Базовая <em>стоимость сайта визитки</em> от 6000 руб. Сроки разработки от 3 до 7 дней. В зависимости от сложности проекта и объема страниц цена и сроки могут незначительно увеличиться.  Для точной оценки предстоящей работы, мы предлагаем Вам встретиться с нашим специалистом. Выезд в офис заказчика по Ижевску и консультация бесплатна. При личной встрече удобнее всего обсудит детали работы и составить модель будущего проекта. Основываясь на богатом опыте, наши специалисты будут рады поделиться с вами предложениями и рекомендациями по разработке и созданию сайта визитки.</p>
						<p>Закажите web-визитку сейчас! Наши менеджеры ждут Вашего звонка.</p>


					</div>
				</article>
			</div>
		</div>
	</section>
</div>
{% endblock %}