{% set a2 = 'active current' %}
{% extends "layout.html.twig" %}
{% block title %} Создание корпоративных сайтов | Создать официальный сайт | Заказать корпоративный сайт. {% endblock %}

{% block keywords %}
<meta name="Keywords"
	  content="Корпоративный сайт, официальный сайт, создание, заказать, услуга, стоимость.">
{% endblock %}
{% block description %}
<meta name="Description"
	  content="Услуги создания официальных и корпоративных сайтов на выгодных условиях  в Ижевске и по России.">
{% endblock %}

{% block top_a %}{% endblock %}{% block top_b %}{% endblock %}{% block top_c %}{% endblock %}
{% block content %}
<div style="min-height: 2160px;" id="maininner" class="grid-box">
	<section id="content">
		<div class="grid-block">
			<div id="system">
				<article class="item">
					<header>
						<h1 class="title">Создание корпоративных и официальных сайтов</h1>
					</header>
					<div class="content clearfix">
						<h2>Официальный или корпоративный сайт – имидж компании в интернете.</h2>

						<p><strong>Корпоративный сайт</strong>
							- это виртуальный офис компании, в котором он принимает своих потенциальных клиентов 24 часа в сутки, 365 дней в году. На официальном сайте посетители получают полный перечень интересующей их информации. При помощи данного инструмента вы представите свою организацию в выгодном свете, описав ее цели и перечень предоставляемых услуг. Раскроете идеологию компании, корпоративную культуру, расскажете о преимуществах перед конкурентами. При создании официального или корпоративного сайта можно добавить скрытый от посторонних глаз модуль для сотрудников или партнеров (с авторизацией по логину/паролю).</p>

						<p>Так же перед вами открывается возможность подключить собственный корпоративный почтовый сервер. Теперь каждый сотрудник будет иметь собственную почту с привязкой к домену. (director@ВашСайт.ru). Широкие функциональные возможности в полной мере реализуют ваши планы по завоеванию интернет общественности. Грамотно <em>созданный официальный или корпоративный сайт</em> станет отличным инструментом продвижения вашего бизнеса, услуг или товара в интернете. А в купе с <a href="/poiskovaya_optimizaciya_saytov.php">услугами оптимизации сайта</a> и <a href="/Kontekstnaya_reklama.php">контекстной рекламы</a> откроет путь к массовому потребителю.
						</p>


						<h2>Услуги создания официальных и корпоративных сайтов от веб-студии «Light Dream».</h2>

						<p>Сотрудники <a href="/web_studiya_Lightdream.php">веб-студии «Light Dream»</a> разработают для вас официальный или корпоративный сайт высочайшего качества, который в зависимости от поставленных целей будет решать задачи продвижения, информирования, роста продаж, создания положительного имиджа в сети. Мы обладаем большим опытом <a href="/sozdanie_saytov.php">создания сайтов</a> и готовы работать над проектом любой сложности. Прежде чем приступить к разработке официального или корпоративного портала, мы анализируем: сферу бизнеса и особенности заказчика, аудиторию на которую рассчитан проект, характер услуг и другие первоначальные данные.
						</p>

						<p>Наши услуги включают в себя:</p>
						<ul type="DISC">
						<li>Разработка и создания web-дизайна исходя из выбранного стиля</li>
						<li>Наполнение страниц уникальным, оптимизированными под поисковые системы контентом</li>
						<li>Оптимизация официального сайта под поисковые системы</li>
						<li>Подбор и регистрация доменного имени в удобной для вас зоне (ru, рф, com, su и т.д.)</li>
						<li>Размещение проекта в сети, хостинг</li>
						<li>Обучение вашего персонала системе управления ресурсом</li>
						<li>Дальнейшее сопровождение сайта</li>
						<li>Опцион на добавление новых функций и модулей</li>
						</ul>

						<h2>Заказать официальный или корпоративный сайт.</h2>

						<p>Вы можете <strong>заказать корпоративный сайт</strong>, связавшись с нами по <a href="/Nashi_kontakty.php">контактным данным</a>.</p>
						<p>Базовая <em>стоимость официального или корпоративного сайта</em> от 15000 руб. Срок выполнения работ 10-20 дней. В зависимости от объема предстоящей работы цена и сроки могут измениться. Свяжитесь с нами и профессионалы предоставят вам исчерпывающую информацию.</p>
						<p>Заказать корпоративный сайт – это возможность вывести ваш бизнес к новым горизонтам.</p>

					</div>
				</article>
			</div>
		</div>
	</section>
</div>
{% endblock %}