{% set a2 = 'active current' %}
{% extends "layout.html.twig" %}
{% block title %} Создание сайтов. {% endblock %}
{% block head_block %}
{% if entry %}
{% if entry.strtags %}
<meta name="Keywords"
	  content="Создание, разработка сайтов, веб-студия «Light Dream», поисковое продвижение, дизайн, оптимизация.">{% endif %}
{% if entry.excerpt %}
<meta name="Description"
	  content="Разработка и создание качественных сайтов любой сложности в Ижевске и на территории России. Веб-студия «Light Dream» предоставляет комплекс услуг по созданию и продвижению сайтов.">{% endif %}
{% endif %}
{% endblock %}
{% block top_a %}{% endblock %}{% block top_b %}{% endblock %}{% block top_c %}{% endblock %}
{% block content %}
<div style="min-height: 2160px;" id="maininner" class="grid-box">
	<section id="content">
		<div class="grid-block">
			<div id="system">
				<article class="item">
					<header>
						<h1 class="title">Разработка и создание сайтов</h1>
					</header>
					<div class="content clearfix">
						<h2>Веб-студия «Light Dream» разработает дизайн сайта – лицо организации.</h2>

						<p>Разработка и создание сайта играет важнейшую роль в любой маркетинговой стратегии развития бизнеса. Интернет-представительство – это лицо компании. Популяризация всемирной паутины диктует свои условия ведения бизнеса. Сегодня трудно представить себе, возможность существования серьезной компании без личного Web-ресурса. Корпоративный портал больше не является вспомогательным инструментом ведения бизнеса, в современном мире это первостепенная необходимость.
						</p>

						<p>Для новых организаций создание сайта станет идеальным решением в попытке стать конкурентоспособными в борьбе за своего клиента. <strong>Качественно разработанный сайт</strong> будет активно способствовать продвижению вашего бизнеса / фирмы / услуг. Увеличит ваши продажи, максимизирует прибыль, привлечь новых клиентов. Если вашей первостепенной задачей является привлечение целевой аудитории и выход на потенциальных клиентов, то разработка и создание интернет-ресурса станет идеальным решением.
						</p>


						<h2>Создание сайтов по средствам Веб-студии «Light Dream».</h2>

						<p>В области разработки IT-проектов веб-студия «Light Dream» предлагает исключительно свежие и интересные решения, которые формируются в соответствии с пожеланиями заказчика. <em>В процессе создания сайта</em> мы проводим анализ и мониторинг конкурентов заказчика, определяем целевую аудиторию, выявляем выгодные и частотные запросы в поисковых системах. После чего, учитывая полученные данные,  приступаем к работе над веб-проектом. Тем самым, мы разрабатываем оптимизированные ресурсы, которые наилучшим образом представят вашу организацию потенциальным клиентам. Что, несомненно, увеличит ваши продажи и позволит общаться с потенциальными деловыми партнерами. Наша цель - помочь Вам продвинуть свои услуги и сделать ваше присутствие в интернете максимально заметным.
						</p>

						<p>Мы предоставляем следующие услуги:</p>
						<ul type="DISC">
							<li>Создание сайтов визиток. Небольшие ресурсы не более 5 страниц</li>
							<li>Разработка корпоративных сайтов. Информационный портал о фирме/организации/компании</li>
							<li>Создание интернет-магазинов под ключ</li>
							<li>Поисковое продвижение сайтов. Вывод в топ 10 по ключевым фразам</li>
							<li>Разработка контекстной рекламы ЯндексДирект, Begun, Adwords.Google. Первые места в поисковиках уже через два дня</li>
							<li>Разработка графического дизайна сайтов</li>
							<li>Профессиональная поддержка ваших сайтов</li>
							<li>Оптимизация ваших сайтов под поисковые системы Яндекс и Google</li>
							<li>SEO-копирайтинг. Написание уникальных статей, адаптированных под поисковики</li>

						</ul>

						<p>Ознакомиться со стоимостью <strong>услуг на разработку и создание сайтов</strong> вы можете на странице стоимости.</p>
					</div>
				</article>
			</div>
		</div>
	</section>
</div>
{% endblock %}