{% set a2 = 'active current' %}
{% extends "layout.html.twig" %}
{% block title %} Стоимость создания сайтов | Цена продвижения сайтов. {% endblock %}
{% block head_block %}
{% if entry %}
{% if entry.strtags %}
<meta name="Keywords"
	  content="Стоимость, цена, создание, продвижение, поддержка, обслуживание, сайт.">{% endif %}
{% if entry.excerpt %}
<meta name="Description"
	  content="Стоимость услуг создания сайта в веб-студии «Light Dream». Цены на продвижение сайтов. Стоимость поддержки и обслуживания сайтов.  ">{% endif %}
{% endif %}
{% endblock %}
{% block top_a %}{% endblock %}{% block top_b %}{% endblock %}{% block top_c %}{% endblock %}
{% block content %}
<div style="min-height: 2160px;" id="maininner" class="grid-box">
	<section id="content">
		<div class="grid-block">
			<div id="system">
				<article class="item">
					<header>
						<h1 class="title">Стоимость создания и цены на продвижение сайтов</h1>
					</header>
					<p>Мы рады, что Вы проявили интерес к ценам на наши услуги. В данном разделе вы можете узнать ориентировочную стоимостью планируемого заказа.</p>
					<p><strong>Стоимость создания и цены на продвижение сайтов</strong> в Интернете от Веб-студии «Light Dream» рассчитывается в индивидуальном порядке. И обусловлено это тем, что стоимость  зависит от большого количества факторов и предпочтений заказчика. Если Вы хотите определиться с точной ценой, просто свяжитесь с нами.</p>

					<div class="content clearfix">
						<h2>Стоимость услуг создания сайтов. </h2>

						<table width="100%" border="0" class="zebra">
							<tbody>
							<tr>
								<td>Вид работ</td>
								<td>Описание</td>
								<td>Стоимость создания</td>
							</tr>
							<tr>
								<td>Сайт-визитка</td>
								<td><a href="/Sozdanie_sayta_vizitki.php">Создание сайта-визитки</a> – это стартовое решение для небольшой организации,
									предпринимателя или частного лица. Состоит из 3-5 страниц. Срок изготовления от 3
									дней. Указана базовая стоимость создания визитки.
								</td>
								<td>6000 руб.</td>
							</tr>
							<tr>
								<td>Корпоративный сайт</td>
								<td><a href="/Sozdanie_korporativnyh_saytov.php">Создание корпоративного сайта</a> подойдет для малого и среднего бизнеса.
							Такой ресурс расскажет о вашей компании, предоставит полный перечень интересующей клиента
							информации. Состоит из 5 и более страниц. Срок выполнения работ 10-20 дней. Указана базовая
							стоимость создания корпоративного сайта.</td>
								<td>15000 руб.</td>
							</tr>
							<tr>
								<td>Интернет магазин</td>
								<td><a href="/Zakazat_sozdanie_internet_magazina.php">Создание интернет магазина</a> – комплексное решение для организации торговли
							через интернет. Включает множество программных модулей для полноценной работы виртуальной
							витрины. Срок выполнения работ 15-30 дней. Указана базовая стоимость создания интернет
							магазина.</td>
								<td>25000 руб.</td>
							</tr>

							</tbody>
						</table>

						<div class="content clearfix">
							<h2>Цены на продвижение сайтов. </h2>

							<table width="100%" border="0" class="zebra">
								<tbody>
								<tr>
									<td>Вид работ</td>
									<td>Описание</td>
									<td>Цена на продвижение</td>
								</tr>
								<tr>
									<td>5 фраз</td>
									<td><a href="/Prodvizhenie_i_raskrutka_saytov.php">Продвижение и раскрутка сайта</a> в ТОП 10 по 5 ключевым фразам, которые наши специалисты подбирают исходя из тематики вашего ресурса. Срок выполнения работ 2-6 месяцев. Первые результаты будут видны уже через месяц. Цена на продвижение сайта указана по низко и среднечастотным запросам.
									</td>
									<td>10000 руб.</td>
								</tr>
								<tr>
									<td>10 фраз</td>
									<td><a href="/Prodvizhenie_i_raskrutka_saytov.php">Вывод сайта в ТОП 10</a> и продвижение по 10 ключевым запросам, которые подбирают наши специалисты совместно с вами.  Срок выполнения работ 2-6 месяцев. Первые результаты будут видны уже через месяц. Цена на продвижение ресурса указана по низко и среднеконкурентным запросам.</td>
									<td>15000 руб.</td>
								</tr>
								<tr>
									<td>20 фраз</td>
									<td><a href="/Prodvizhenie_saytov.php">Продвижение сайта</a> в ТОП 10 по 20 ключевым фразам. Все запросы будут рабочими и подобраны в соответствии с тематикой вашего проекта. Срок выполнения работ 2-6 месяцев. Цена на продвижение сайта указана по низко и среднечастотным запросам.</td>
									<td>20000 руб.</td>
								</tr>
								<tr>
									<td>Поисковая оптимизация сайта.</td>
									<td><a href="/poiskovaya_optimizaciya_saytov.php">Поисковая оптимизация сайт</a> – это комплекс мер, направленных на приведение текстов и исходного кода ресурса в соответствии с требованиями поисковых систем. Продвижение сайта за счет оптимизации самый экономичный способ раскрутки. Срок выполнения работ 1 день. Стоимость поисковой оптимизации указана за 1 страницу.
									</td>
									<td>1000 руб.</td>
								</tr>
								<tr>
									<td>Контекстная реклама</td>
									<td><a href="/Kontekstnaya_reklama.php">Контекстная реклама Яндекс, Google</a> – это платная, текстовая реклама в сети, которая показываются заинтересованным клиентам в поисковых системах и на страницах сайтов-партнеров. Контекстная реклама – самый быстрый способ продвижения сайта. Цена указана за организацию, настройку и мониторинг контекстной рекламы в Яндекс.Директ, AdWords Google, Begun. Срок выполнения работ 1 день.
									</td>
									<td>4000 руб.</td>
								</tr>

								</tbody>
							</table>

							<div class="content clearfix">
								<h2>Стоимость поддержки и обслуживания сайтов. </h2>

								<table width="100%" border="0" class="zebra">
									<tbody>
									<tr>
										<td>Тариф</td>
										<td>Описание</td>
										<td>Стоимость поддержки</td>
									</tr>
									<tr>
										<td>Лайт</td>
										<td><a href="/Podderzhka_i_obsluzhivanie_saytov.php">Поддержка и обслуживание сайта</a> – комплекс работ, по поддержанию сайта в полной работоспособности. Тариф «Лайт» подойдет сайтам с небольшим количеством изменений в месяц. Включает: продление хостинга и регистрации домена, корректировку и обновление информации. Цена указана за месяц обслуживания.
										</td>
										<td>1500 руб.</td>
									</tr>
									<tr>
										<td>Базовый</td>
										<td>Тариф «Базовй» подойдет сайтам со средним количеством изменений в месяц. Дополнительными возможностями этого тарифа являются ведение почтового сервера компании, консультация, увеличение объема обновлений. Стоимость поддержки и обслуживания указана за месяц.</td>
										<td>3000 руб.</td>
									</tr>
									<tr>
										<td>Макси</td>
										<td>Этот тариф подойдет сайтам с большим количеством обновлений. Включает дополнительные работы по программированию, дизайну, навигации.</td>
										<td>5000 руб.</td>
									</tr>
									<tr>
										<td>Разовые изменения</td>
										<td>Правка, корректировка или добавление одной страницы на сайте.</td>
										<td>500 руб.</td>
									</tr>

									</tbody>
								</table>

								<div class="content clearfix">
									<h2>Цены на дополнительные услуги. </h2>

									<table width="100%" border="0" class="zebra">
										<tbody>
										<tr>
											<td>Вид работ</td>
											<td>Описание</td>
											<td>Стоимость услуг</td>
										</tr>
										<tr>
											<td>SEO копирайтинг, написание текстов</td>
											<td><a href="/seo_copywriting.php">SEO копирайтинг</a> - это написание и редактирование текстов, оптимизированных под поисковые машины. Цена указана за уникальный текст объемом 2000 знаков (стандартная web-страница).
											</td>
											<td>1000 руб.</td>
										</tr>
										<tr>
											<td>Регистрация домена</td>
											<td>Регистрация доменного имени на 12 месяцев в выбранной вами зоне.</td>
											<td>300 руб.</td>
										</tr>
										<tr>
											<td>Регистрация хостинга</td>
											<td>Стоимость хостинга для вашего сайта на 12 месяцев.</td>
											<td>2000 руб.</td>
										</tr>

										</tbody>
									</table>



					</div>
				</article>
			</div>
		</div>
	</section>
</div>
{% endblock %}