{% set a2 = 'active current' %}
{% extends "layout.html.twig" %}
{% block title %}Заказать создание интернет магазина{% endblock %}
{% block keywords %}
<meta name="Keywords" content="Создание, интернет, магазин, заказать, услуга, стоимость, сайт, виртуальный, витрина.">
{% endblock %}
{% block description %}
<meta name="Description" content="Услуги создания интернет магазинов от веб-студии «Light Dream». Заказать интернет магазин недорого">
{% endblock %}

{% block top_a %}{% endblock %}{% block top_b %}{% endblock %}{% block top_c %}{% endblock %}
{% block content %}
<div style="min-height: 2160px;" id="maininner" class="grid-box">
	<section id="content">
		<div class="grid-block">
			<div id="system">
				<article class="item">
					<header>
						<h1 class="title">Создание интернет магазина</h1>
					</header>
					<div class="content clearfix">
						<h2>Интернет магазин – виртуальная витрина в сети.</h2>

						<p><strong>Интернет-магазин</strong>
							- это виртуальная витрина, инструмент торговли в сети, который поможет вам продвинуть новую
							линию товаров или услуг. На сайте интернет магазина, в большинстве случаев, представлен
							детальный ассортимент, цены, характеристика и описание товаров. Посетитель формирует свой
							заказ, оплачивает его и получает по средствам доставки, не выходя из дома. </p>

						<p>Каждый компетентный предприниматель понимает, что создание интернет магазина является
							необходимостью в условиях современного рынка сбыта. Только используя все инновационные
							инструменты продаж можно рассчитывать на увеличении прибыли и расширение клиентской базы.
							Виртуальная витрина - самый удобный, эффективный и экономичный способ для реализации ваших
							товаров.
							<em>Преимущества создания интернет магазина</em> очевидны: отсутствие территориальных
							ограничений рынка сбыта, минимизация затрат на зарплаты сотрудников, отсутствие
							необходимости аренды торговой площади. А
							<a href="/Prodvizhenie_saytov.php">продвижение сайта</a> уровня интернет магазин значительно
							дешевле и выгоднее, нежели массированная реклама, требующаяся обычному магазину.
						</p>


						<h2>Услуги создания интернет магазинов от веб-студии «Light Dream».</h2>

						<p>Мы предлагаем качественные услуги и эффективные решения, которые улучшат ваш сервис и
							позволят вести электронные сделки быстро, безопасно и прибыльно. Специалисты нашей
							веб-студии
							<a href="/sozdanie_saytov.php">создадут сайт</a> с возможностью вести бизнес 24 часа в
							сутки. «Light Dream» гарантирует индивидуальный подход к заказчику и проекту, эффективные и
							продающие решения, высочайшее качество работы.
						</p>

						<p>Наши возможности и услуги:</p>
						<ul type="DISC">
						<li>Определение требований к сайту, анализ конкурентов</li>
						<li>Создание уникального дизайна вашей виртуальной витрины</li>
						<li>Подключение системы управления сайта и каталогом</li>
						<li>Статистика заказов и посещений</li>
						<li>Совместимость с различными платежными системами</li>
						<li>Система он-лайн консультаций клиентов</li>
						<li>Почтовая рассылка для зарегистрированных пользователей</li>
						<li><a href="/Kontekstnaya_reklama.php">Разработка контекстной рекламы</a> для привлечения клиентов</li>
						</ul>

						<h2>Заказать интернет магазин.</h2>

						<p><strong>Заказать интернет магазин</strong> вы можете заполнив форму заказа или написав нам письмо на
							<a href="mailto:lightdreamstudio@gmail.com">lightdreamstudio@gmail.com</a></p>
						<p>Базовая <em>стоимость интернет магазина</em> 25000 руб. Срок создания 15-30 дней. В зависимости от объема предстоящей работы, сложности дизайна и подключаемых услугах цена и сроки могут варьироваться. Свяжитесь с нами и профессионалы предоставят вам полную информацию по возникшим у вас вопросам.</p>
						<p>Заказать интернет магазин - эффективный и недорогой способ для реализации Ваших товаров и услуг.</p>

					</div>
				</article>
			</div>
		</div>
	</section>
</div>
{% endblock %}