{% set title = 'Кристаллы стразы Сваровски' %}
{% set keywords = '' %}
{% set description = '' %}
{% extends '/pages/side/layout.html.twig' %}
{% block catalog %}
    <div class="std">
        <h1>О Кристаллах СВАРОВСКИ</h1>

        <p>Людей всегда привлекали различные красивые камни природного происхождения. Но ввиду того, что в природе таких
            камней очень мало, человек занялся производством хрустальных копий, прибегая к различным вариациям обработки
            стекла. При производстве стекла любого вида используются известь, песок и сода. Компанией Сваровски создана
            своя формула стекла, позволяющая делать кристаллы несравненными по красоте своего блеска.</p>

        <h2>ИСТОРИЯ ВОЗНИКНОВЕНИЯ КРИСТАЛЛОВ СВАРОВСКИ</h2>

        <p>Житель Богемии, мало известный, Даниэль Сваровски сконструировал устройство, дающее возможность с большой
            точностью обрабатывать кристаллы.</p>

        <p>В 1895 г. Даниэль Сваровски в д.Ваттенс построил мини завод по изготовлению продукции из хрусталя, аналоги
            драгоценных камней.</p>

        <p>В 1911 г. Даниэль со своими сыновьями разработал технологию производства полностью прозрачного хрусталя.
            Только он обладал секретом полной прозрачности и по сей день секрет остается не раскрытым.</p>

        <p>Компания Сваровски является производителем украшений из хрусталя - свыше 110 тысяч различных оттенков и
            форм.</p>

        <h2>НЕ РАССКРЫТЫЙ СЕКРЕТ КРИСТАЛЛОВ СВАРОВСКИ</h2>

        <p>Секрету Сваровски уже порядка ста лет. Отметим ряд особенностей кристаллов.</p>

        <p>Сказочный блеск получается как раз за счет боковых граней. Их количество у различных производителей разное.
            От количества граней во многом и зависит блеск страз.</p>

        <p>Кристаллы Сваровски имеют максимальное количество граней - 14 (7 более широких, 7 узких граней).</p>

        <p>14 кратная огранка кристаллов увеличивает светоотражение до 13%. Именно эта свойство кристаллов и
            запатентована Сваровски.</p>

        <p>Окись свинца содержание, которого в стразах Сваровски одна из составляющих секрета. Содержание этого вещества
            в стразах Сваровски составляет 32%. Головокружительный блеск стразам на ряду с составом сырья обеспечивает и
            индивидуальная шлифовка каждой из граней. Кристаллы имеют строгие формы, идентичны по размерам граней. Важно
            отсутствие замутнений и сколов. Всю сущность изделий Сваровски можно увидеть при правильном освещении.
            Специальное оборудование для высокоточной огранки и шлифовки дает возможность производить кристаллы, которые
            не потеряют своего сказочного блеска десятки, сотни лет.</p>

        <p>Кристаллы Сваровски не пылятся и не грязнятся благодаря еще одному виду обработки от Сваровски.</p>

        <p>Для «сказочного» эффекта кристаллические грани выполняются максимально четкими и острыми. Изменение цвета и
            усиление блеска кристалла, создается при помощи напыления вещества под вакуумом. Дно кристалла должно быть
            выполнено из зеркально-серебристого материала. Это позволяет стразам сверкать максимально
            привлекательно.</p>

        <h2>СТРАЗЫ СВАРОВКСКИ В НАШИ ДНИ</h2>

        <p>В наши дни перелив и игру света этих страз Сваровски Вы встретите везде, куда бы ни устремили свой взор.
            Только представьте, например самая крупная кристаллическая люстра от Сваровски содержит более 630 тысяч
            элементов! Создана она по заказу султаната Омен.</p>

        <p>Искусственные стразы Сваровски зачастую встречаются на шляпах, перчатках, туфлях, одежде, свадебных платьях и
            многом другом. Инкрустация стразами Сваровски преображает любой, самый обыденный предмет и он становится
            эксклюзивным и более того уникальным. Украшенный стразами сотовый телефон, после инкрустации остается не
            просто высокотехнологичным творением, а уникальным аксессуаром своего владельца, придающим индивидуальность.
            Сегодня кристаллами Сваровски инкрустируют элементы автомобилей. Украшенные стразами картины богаты своей
            элегантностью, красотой претендуя на более высокие содержания. Блеск граней страз Сваровски поистине
            притягателен, вне зависимости, какой цвет Вы будете видеть на гранях страз – солнечный свет или свет от
            комнатной лампы накаливания.</p>
    </div>
    {{ parent() }}
{% endblock %}