{% set title = 'Термостразы' %}
{% set keywords = '' %}
{% set description = '' %}
{% extends 'layout.html.twig' %}
{% block main_content %}
    <div class="toolbar"></div>
    <div class="category-products">
        <ul class="products-grid first odd">
            <li class="item first">
                <a class="product-image" title="Assorted Size Rhinestones - Clear Crystal 600pcs" href="/">
                    <img width="135" height="135" alt="Assorted Size Rhinestones - Clear Crystal 600pcs" src="/img/assorted_rhinestones.jpg">
                </a>

                <h2 class="product-name">
                    <a title="Assorted Size Rhinestones - Clear Crystal 600pcs" href="/">Assorted
                        Size Rhinestones - Clear Crystal 600pcs</a></h2>

                <div class="price-box">
                    <span id="product-price-401" class="regular-price">
                        <span class="price">$6.90</span
                    </span>
                </div>
            </li>
            <li class="item">
                <a class="product-image" title="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" href="/">
                    <img width="135" height="135" alt="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" src="/img/emerald_flat_back_crystals_1.jpg">
                </a>

                <h2 class="product-name">
                    <a title="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" href="/">Flat
                        Back Crystal Rhinestone Emerald 144 pcs 1 GROSS</a></h2>

                <div class="price-box">
                    <span id="product-price-298" class="regular-price"><span class="price">$2.90</span></span>
                </div>
            </li>
            <li class="item">
                <a class="product-image" title="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" href="/">
                    <img width="135" height="135" alt="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" src="/img/emerald_flat_back_crystals_1.jpg">
                </a>

                <h2 class="product-name">
                    <a title="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" href="/">Flat
                        Back Crystal Rhinestone Emerald 144 pcs 1 GROSS</a></h2>

                <div class="price-box">
                    <span id="product-price-298" class="regular-price"><span class="price">$2.90</span></span>
                </div>
            </li>
            <li class="item last">
                <a class="product-image" title="Flat Back Crystal Rhinestones Peridot 144 pcs 1 GROSS" href="/">
                    <img width="135" height="135" alt="Flat Back Crystal Rhinestones Peridot 144 pcs 1 GROSS" src="/img/peridot_light_green_crystal_flatback_1.jpg">
                </a>

                <h2 class="product-name">
                    <a title="Flat Back Crystal Rhinestones Peridot 144 pcs 1 GROSS" href="/">
                        Flat Back Crystal Rhinestones Peridot 144 pcs 1 GROSS </a>
                </h2>

                <div class="price-box">
                    <span id="product-price-292" class="regular-price"><span class="price">$2.90</span</span>
                </div>
            </li>
        </ul>
        <ul class="products-grid even">
            <li class="item first">
                <a class="product-image" title="Assorted Size Rhinestones - Clear Crystal 600pcs" href="/">
                    <img width="135" height="135" alt="Assorted Size Rhinestones - Clear Crystal 600pcs" src="/img/assorted_rhinestones.jpg">
                </a>

                <h2 class="product-name">
                    <a title="Assorted Size Rhinestones - Clear Crystal 600pcs" href="/">Assorted
                        Size Rhinestones - Clear Crystal 600pcs</a></h2>

                <div class="price-box">
                                                                <span id="product-price-401" class="regular-price">
                                            <span class="price">$6.90</span>                                    </span>
                </div>
            </li>
            <li class="item">
                <a class="product-image" title="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" href="/">
                    <img width="135" height="135" alt="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" src="/img/emerald_flat_back_crystals_1.jpg">
                </a>

                <h2 class="product-name">
                    <a title="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" href="/">Flat
                        Back Crystal Rhinestone Emerald 144 pcs 1 GROSS</a></h2>

                <div class="price-box">
                                                                <span id="product-price-298" class="regular-price">
                                            <span class="price">$2.90</span>                                    </span>
                </div>
            </li>
            <li class="item">
                <a class="product-image" title="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" href="/">
                    <img width="135" height="135" alt="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" src="/img/emerald_flat_back_crystals_1.jpg">
                </a>

                <h2 class="product-name">
                    <a title="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" href="/">Flat
                        Back Crystal Rhinestone Emerald 144 pcs 1 GROSS</a></h2>

                <div class="price-box">
                                                                <span id="product-price-298" class="regular-price">
                                            <span class="price">$2.90</span>                                    </span>
                </div>
            </li>
            <li class="item last">
                <a class="product-image" title="Flat Back Crystal Rhinestones Peridot 144 pcs 1 GROSS" href="/">
                    <img width="135" height="135" alt="Flat Back Crystal Rhinestones Peridot 144 pcs 1 GROSS" src="/img/peridot_light_green_crystal_flatback_1.jpg">
                </a>

                <h2 class="product-name">
                    <a title="Flat Back Crystal Rhinestones Peridot 144 pcs 1 GROSS" href="/">Flat
                        Back Crystal Rhinestones Peridot 144 pcs 1 GROSS</a></h2>

                <div class="price-box">
                                                                <span id="product-price-292" class="regular-price">
                                            <span class="price">$2.90</span>                                    </span>
                </div>
            </li>
        </ul>
        <ul class="products-grid even">
            <li class="item first">
                <a class="product-image" title="Assorted Size Rhinestones - Clear Crystal 600pcs" href="/">
                    <img width="135" height="135" alt="Assorted Size Rhinestones - Clear Crystal 600pcs" src="/img/assorted_rhinestones.jpg">
                </a>

                <h2 class="product-name">
                    <a title="Assorted Size Rhinestones - Clear Crystal 600pcs" href="/">Assorted
                        Size Rhinestones - Clear Crystal 600pcs</a></h2>

                <div class="price-box">
                                                                <span id="product-price-401" class="regular-price">
                                            <span class="price">$6.90</span>                                    </span>
                </div>
            </li>
            <li class="item">
                <a class="product-image" title="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" href="/">
                    <img width="135" height="135" alt="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" src="/img/emerald_flat_back_crystals_1.jpg">
                </a>

                <h2 class="product-name">
                    <a title="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" href="/">Flat
                        Back Crystal Rhinestone Emerald 144 pcs 1 GROSS</a></h2>

                <div class="price-box">
                                                                <span id="product-price-298" class="regular-price">
                                            <span class="price">$2.90</span>                                    </span>
                </div>
            </li>
            <li class="item">
                <a class="product-image" title="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" href="/">
                    <img width="135" height="135" alt="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" src="/img/emerald_flat_back_crystals_1.jpg">
                </a>

                <h2 class="product-name">
                    <a title="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" href="/">Flat
                        Back Crystal Rhinestone Emerald 144 pcs 1 GROSS</a></h2>

                <div class="price-box">
                                                                <span id="product-price-298" class="regular-price">
                                            <span class="price">$2.90</span>                                    </span>
                </div>
            </li>
            <li class="item last">
                <a class="product-image" title="Flat Back Crystal Rhinestones Peridot 144 pcs 1 GROSS" href="/">
                    <img width="135" height="135" alt="Flat Back Crystal Rhinestones Peridot 144 pcs 1 GROSS" src="/img/peridot_light_green_crystal_flatback_1.jpg">
                </a>

                <h2 class="product-name">
                    <a title="Flat Back Crystal Rhinestones Peridot 144 pcs 1 GROSS" href="/">Flat
                        Back Crystal Rhinestones Peridot 144 pcs 1 GROSS</a></h2>

                <div class="price-box">
                                                                <span id="product-price-292" class="regular-price">
                                            <span class="price">$2.90</span>                                    </span>
                </div>
            </li>
        </ul>
        <ul class="products-grid last odd">
            <li class="item first">
                <a class="product-image" title="Assorted Size Rhinestones - Clear Crystal 600pcs" href="/">
                    <img width="135" height="135" alt="Assorted Size Rhinestones - Clear Crystal 600pcs" src="/img/assorted_rhinestones.jpg">
                </a>

                <h2 class="product-name">
                    <a title="Assorted Size Rhinestones - Clear Crystal 600pcs" href="/">Assorted
                        Size Rhinestones - Clear Crystal 600pcs</a></h2>

                <div class="price-box">
                                                                <span id="product-price-401" class="regular-price">
                                            <span class="price">$6.90</span>                                    </span>
                </div>
            </li>
            <li class="item">
                <a class="product-image" title="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" href="/">
                    <img width="135" height="135" alt="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" src="/img/emerald_flat_back_crystals_1.jpg">
                </a>

                <h2 class="product-name">
                    <a title="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" href="/">Flat
                        Back Crystal Rhinestone Emerald 144 pcs 1 GROSS</a></h2>

                <div class="price-box">
                                                                <span id="product-price-298" class="regular-price">
                                            <span class="price">$2.90</span>                                    </span>
                </div>
            </li>
            <li class="item">
                <a class="product-image" title="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" href="/">
                    <img width="135" height="135" alt="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" src="/img/emerald_flat_back_crystals_1.jpg">
                </a>

                <h2 class="product-name">
                    <a title="Flat Back Crystal Rhinestone Emerald 144 pcs 1 GROSS" href="/">Flat
                        Back Crystal Rhinestone Emerald 144 pcs 1 GROSS</a></h2>

                <div class="price-box">
                                                                <span id="product-price-298" class="regular-price">
                                            <span class="price">$2.90</span>                                    </span>
                </div>
            </li>
            <li class="item last">
                <a class="product-image" title="Flat Back Crystal Rhinestones Peridot 144 pcs 1 GROSS" href="/">
                    <img width="135" height="135" alt="Flat Back Crystal Rhinestones Peridot 144 pcs 1 GROSS" src="/img/peridot_light_green_crystal_flatback_1.jpg">
                </a>

                <h2 class="product-name">
                    <a title="Flat Back Crystal Rhinestones Peridot 144 pcs 1 GROSS" href="/">Flat
                        Back Crystal Rhinestones Peridot 144 pcs 1 GROSS</a></h2>

                <div class="price-box">
                                                                <span id="product-price-292" class="regular-price">
                                            <span class="price">$2.90</span>                                    </span>
                </div>
            </li>
        </ul>
    </div>

{% endblock %}